<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col g-1 p-0">
        <div class="grid-products grid-view-items">
            <div class="row col-row product-options row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2 g-1">
                <ng-container *ngFor="let product of pagedProducts">
                    <div class="item col-item">
                        <div class="product-box">
                            <div class="product-image">
                                <a href="#" [routerLink]="['/', locale, country, 'shop', 'product', product.slug]" onclick="return false;" class="product-img rounded-0">
                                    <img class="primary blur-up lazyload rounded-0 w-100 h-100" [attr.data-src]="product.imagen" [src]="product.imagen" alt="Product" title="Product" width="625" height="608" style="object-fit: cover;" />
                                    <ng-container *ngIf="product.imagen_two">
                                        <img class="hover blur-up lazyload rounded-0 w-100 h-100" [attr.data-src]="product.imagen_two" [src]="product.imagen_two" alt="Product" title="Product" width="625" height="808" style="object-fit: cover;"/>
                                    </ng-container>
                                </a>

                                <!-- Product label -->
                                <div class="product-labels">
                                    <!-- <span *ngIf="getDiscountLabel(product)" class="lbl pr-label4"> -->
                                    <span *ngIf="getDiscountLabel(product)" 
                                          class="lbl"
                                          [ngClass]="{
                                            'pr-label3': product.campaing_discount?.type_campaign === 1, 
                                            'pr-label4': product.campaing_discount?.type_campaign === 2
                                         }">
                                        {{ getDiscountLabel(product) }}
                                    </span>
                                    <!-- Label de mejor vendido -->
                                    <span *ngIf="!product.hasDiscount && product.isBestSeller" class="lbl pr-label5">
                                        Mejor Vendido
                                    </span>
                                </div>
                                <!-- End Product label -->

                            </div>
                            <div class="product-details px-2">
                                <div class="product-vendor">{{ product.categorie.title || '' }}</div>
                                <!-- Product Name -->
                                <div class="product-name lh-1">
                                    <a href="product-layout1.html" onclick="return false;" [routerLink]="['/', locale, country, 'shop', 'product', product.slug]" [queryParams]="getRouterDiscount(product)" class="text-truncate d-inline-block product-title fw-light">{{ product.title }}</a>
                                </div>
                                <!-- End Product Name -->
                                 <!-- Product Price -->
                                <div class="product-price">
                                    <!-- Original price (crossed out if discount exists) -->
                                    <span class="price old-price" *ngIf="hasDiscount(product)">
                                        <span class="">{{ getOriginalPriceParts(product).integer }}.</span>
                                        <span class="">
                                            <span>{{ getOriginalPriceParts(product).decimals }}</span>
                                            <span class="">{{ euro }}</span>
                                        </span>
                                    </span>
                                    
                                    <!-- Final price (with discount applied if exists) -->
                                    <span class="price" [ngStyle]="hasDiscount(product) ? {'color': '#dc3545', 'font-weight': 'bold'} : {}">
                                        <span class="">{{ getFinalPriceParts(product).integer }}.</span>
                                        <span class="">
                                            <span>{{ getFinalPriceParts(product).decimals }}</span>
                                            <span class="">{{ euro }}</span>
                                        </span>
                                    </span>
                                </div>
                                <!-- End Product Price -->

                                <!--Sort Description-->
                                <p class="sort-desc hidden">{{ product.description_en }}</p>
                                <!--End Sort Description-->

                                <!-- Swatches Color -->
                                <ul class="variants-clr swatches">
                                    <ng-container *ngFor="let item of product.colores; let colorIndex = index">
                                        <li class="swatch medium" 
                                            [class.active]="isColorSelected(product, colorIndex)"
                                            (click)="onColorSelect(product, colorIndex, item.imagen)">
                                            <span class="swatchLbl" 
                                                [style.background-color]="item.hex" 
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="{{ item.color }}">
                                            </span>
                                        </li>
                                    </ng-container>
                                </ul>
                                <!-- End Swatches Color -->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <!-- Pagination -->
            <nav class="clearfix pagination-bottom" *ngIf="totalPages > 1">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" href="#" (click)="prevPage(); $event.preventDefault()">
                            <i class="icon anm anm-angle-left-l"></i>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === (i+1)">
                        <a class="page-link" href="#" (click)="goToPage(i+1); $event.preventDefault()">{{ i+1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" href="#" (click)="nextPage(); $event.preventDefault()">
                            <i class="icon anm anm-angle-right-l"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Pagination -->
            <!-- Selector de cantidad por página -->
            <div class="d-flex justify-content-end align-items-center mt-2">
                <label class="me-2">Mostrar:</label>
                <select (change)="onPageSizeChange($event)" [value]="pageSize" class="form-select w-auto">
                    <option *ngFor="let size of [10, 15, 20, 25, 30]" [value]="size">{{ size }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
