<!--Page Wrapper-->
<div class="page-wrapper">

    <!-- Body Container -->
    <div id="page-content">

        <!--Page Header-->
        <div class="page-header text-center bg-transparent mb-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                        <div class="page-title text-uppercase"><h2>Añadir dirección</h2></div>
                        <!--Breadcrumbs-->
                        <div class="breadcrumbs d-none"><a href="index.html" onclick="return false;" routerLink="/" title="Back to the home page">Lujandev.com</a><span class="main-title fw-bold"><i class="icon anm anm-angle-right-l"></i>Mi cuenta</span></div>
                        <!--End Breadcrumbs-->
                    </div>
                </div>
            </div>
        </div>
        <!--End Page Header-->

        <!--Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="dashboard-content h-100" id="top-tabContent">
                        <!-- Address Book -->
                        <div class="tab-pane h-100" id="address">
                            <div class="address-card mt-0 h-100">
                                <!-- Mostrar la lista de direcciones -->
                                <div class="address-book-section">
                                    <!-- <h3 class="title mb-5 text-center">Añadir dirección</h3> -->
                                    <p class="text-center mb-4 fw-bold lh-1">Para garantizar la correcta entrega de tu pedido, <br> por favor añade una dirección de envío antes <br>  de completar tu compra.</p>
                                    <fieldset>
                                        <!-- Nombre -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="firstname" class="form-label d-none">Nombre <span class="required">*</span></label>
                                                <input name="firstname" value="" id="firstname" type="text" [(ngModel)]="name" required="" placeholder="Nombre" class="form-control py-4">
                                            </div>
                                        </div>
                                        <!-- Apellidos -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="lastname" class="form-label d-none">Apellidos <span class="required">*</span></label>
                                                <input name="lastname" value="" id="lastname" type="text" [(ngModel)]="surname" required="" placeholder="Apellidos" class="form-control py-4">
                                            </div>
                                        </div>
                                        <!-- Email -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="email" class="form-label d-none">E-Mail <span class="required">*</span></label>
                                                <input name="email" value="" id="email" type="email" required="" [(ngModel)]="email"  placeholder="E-mail" class="form-control py-4">
                                            </div>
                                        </div>
                                        <!-- Pais -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="address_country1" class="form-label d-none">País <span class="required">*</span></label>
                                                <select id="address_country1" name="address[country]" [(ngModel)]="pais" data-default="United States" class="form-control py-4">
                                                    <option value="0" label="Seleccione un país" selected="selected">Seleccionar un país</option>
                                                    <optgroup id="country-optgroup-Eu" label="Europe">
                                                        <option value="IT" label="Italy">Italy</option>
                                                        <option value="PT" label="Portugal">Portugal</option>
                                                        <option value="RO" label="Romania">Romania</option>
                                                        <option value="SPAIN" label="Spain">Spain</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Direccion -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="address-1" class="form-label d-none">Dirección <span class="required">*</span></label>
                                                <input name="address_1" value="" id="address-1" type="text" required="" [(ngModel)]="address" placeholder="Dirección" class="form-control py-4">
                                            </div>
                                        </div>
                                        <!-- Codigo postal -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="postcode" class="form-label d-none">Código postal <span class="required">*</span></label>
                                                <input name="postcode" value="" id="postcode" type="text" class="form-control py-4" [(ngModel)]="zipcode" placeholder="Código postal">
                                            </div>
                                        </div>
                                        <!-- Población -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="new-city" class="form-label d-none">Población <span class="required">*</span></label>
                                                <input name="city" placeholder="Población" class="form-control py-4" value="" required="" [(ngModel)]="poblacion" id="new-city" type="text" />
                                            </div>
                                        </div>
                                        <!-- Ciudad -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="address_State" class="form-label d-none">Ciudad <span class="required">*</span></label>
                                                <select id="address_State" name="address[State]" data-default="" [(ngModel)]="ciudad" class="form-control py-4">
                                                    <option value="0" label="Select a state" selected="selected">Provincia/Estado</option>
                                                    <option value="Madrid">Madrid</option>
                                                    <option value="New York">New York</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Telefono -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <label for="phone" class="form-label d-none">Móvil <span class="required">*</span></label>
                                                <input name="phone" value="" id="phone" type="tel" required="" [(ngModel)]="phone"  placeholder="Móvil" class="form-control py-4">
                                            </div>
                                        </div>
                                        <!-- CheckBook-->
                                        <div class="row justify-content-center pt-2 pb-4">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <div class="checkout-tearm customCheckbox">
                                                    <input id="checkout_usual_shipping_address" name="checkout_usual_shipping_address" [(ngModel)]="usual_shipping_address" type="checkbox" value="checkout tearm" required />
                                                    <label for="checkout_usual_shipping_address"> Elegir como dirección de envío habitual</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button register o update -->
                                        <div class="row justify-content-center">
                                            <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4">
                                                <button type="submit" class="btn btn-black me-1 w-100 py-3 text-uppercase fw-normal" (click)="store()">
                                                    <ng-container *ngIf="!loading">Guardar dirección</ng-container>
                                                </button>
                                                <p class="mt-3" [ngClass]="status ? 'text-success' : 'text-danger'" *ngIf="this.validMessage && !status">{{ this.errorOrSuccessMessage }}</p>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <!-- End Address Book -->
                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!-- End Body Container -->

    <!--Scoll Top-->
    <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
    <!--End Scoll Top-->

</div>
<!--End Page Wrapper-->