<!--Page Wrapper-->
<div class="page-wrapper">
   
    <!--Header-->
    <app-header></app-header>
    <!--End Header-->

    <!-- Body Container -->
    <div id="page-content">
        <!--Page Header-->
        <div class="page-header text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                        <div class="page-title"><h1>Create an Account</h1></div>
                        <!--Breadcrumbs-->
                        <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span class="title"><i class="icon anm anm-angle-right-l"></i>My Account</span><span class="main-title fw-bold"><i class="icon anm anm-angle-right-l"></i>Create an Account</span></div>
                        <!--End Breadcrumbs-->
                    </div>
                </div>
            </div>
        </div>
        <!--End Page Header-->

        <!--Main Content-->
        <div class="container">
            <!--Order success-->
            <div class="success-text checkout-card text-center mb-4 mb-md-5" *ngIf="success">
                <i class="icon anm anm-shield-check"></i>
                <h2>¡Gracias por registrarte!</h2>
                <p class="mb-1">Su cuenta ha sido creada satisfactoriamente</p>
                <p class="mb-1 d-none">Se ha enviado un correo electrónico de confirmación a la dirección de correo electrónico proporcionada con más detalles.</p>  
                <p class="mb-1">Por favor revise su correo electrónico para verificar su cuenta y completar el proceso de registro.</p>
            </div>
            <!--End Order success-->
            <div class="login-register pt-2">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                        <div class="inner h-100">
                            <form class="customer-form">	
                                <h2 class="text-center fs-4 mb-4">Register here if you are a new customer</h2>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="CustomerUsername" class="d-none">Username <span class="required">*</span></label>
                                        <input type="text" name="name" [(ngModel)]="name" placeholder="Username" id="CustomerUsername" value="" required />
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerSurname"  class="d-none">Lastname <span class="required">*</span></label>
                                        <input type="text" name="surname" [(ngModel)]="surname" placeholder="Lastname" id="CustomerSurname" value="" required />
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerEmail"  class="d-none">Email <span class="required">*</span></label>
                                        <input type="email" name="email" [(ngModel)]="email" placeholder="Email" id="CustomerEmail" value="" required />
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerPassword"  class="d-none">Password <span class="required">*</span></label>
                                        <input type="password" name="password"[(ngModel)]="password" placeholder="Password" id="CustomerPassword" value="" required />                        	
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerConfirmPassword"  class="d-none">Confirm Password <span class="required">*</span></label>
                                        <input id="CustomerConfirmPassword" type="Password" name="repeat_password" [(ngModel)]="repeat_password" placeholder="Confirm Password" required />                         	
                                    </div>
                                    <div class="form-group col-12 d-none">
                                        <div class="login-remember-forgot d-flex justify-content-between align-items-center">
                                            <div class="agree-check customCheckbox">
                                                <input id="agree" name="agree" type="checkbox" value="agree" required />
                                                <label for="agree"> I agree to terms & Policy.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 mb-0">
                                        <input type="submit" class="btn btn-primary btn-lg w-100" (click)="register()" value="Register" />
                                    </div>
                                </div>

                                <div class="login-divide"><span class="login-divide-text">OR</span></div>

                                <p class="text-center fs-6 text-muted mb-3">Or Sign up with</p>
                                <div class="login-social d-flex-justify-center">
                                    <a class="social-link facebook rounded-5 d-flex-justify-center" href="#"><i class="icon anm anm-facebook-f me-2"></i> Facebook</a>
                                    <a class="social-link google rounded-5 d-flex-justify-center" href="#"><i class="icon anm anm-google-plus-g me-2"></i> Google</a>
                                    <a class="social-link twitter rounded-5 d-flex-justify-center" href="#"><i class="icon anm anm-twitter me-2"></i> Twitter</a>
                                </div>

                                <div class="login-signup-text mt-4 mb-2 fs-6 text-center text-muted">Already have an account? <a href="login.html" onclick="return false;" [routerLink]="['/auth/login']" class="btn-link">Login now</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!-- End Body Container -->

    <!--Footer-->
    <app-footer></app-footer>
    <!--End Footer-->

    <!--Scoll Top-->
    <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
    <!--End Scoll Top-->
</div>
<!--End Page Wrapper-->