<!--Page Wrapper-->
<div class="page-wrapper">
   
    <!-- Body Container -->
    <div id="page-content">
        <!--Page Header-->
        <div class="page-header text-center bg-transparent mb-0 p-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-start align-items-center">
                        <div class="page-title"><h2 class="text-uppercase">Mis datos</h2></div>
                        <!--Breadcrumbs-->
                        <div class="breadcrumbs d-none"><span class="main-title fw-bold"><i class="icon anm anm-angle-right-l"></i>Crear una cuenta</span></div>
                        <!--End Breadcrumbs-->
                    </div>
                </div>
            </div>
        </div>
        <!--End Page Header-->

        <!--Main Content-->
        <div class="container">
            <!--Order success-->
            <div class="success-text checkout-card text-center mb-4 mb-md-5" *ngIf="success">
                <i class="icon anm anm-shield-check"></i>
                <h2>¡Gracias por registrarte!</h2>
                <p class="mb-1">Su cuenta ha sido creada satisfactoriamente</p>
                <p class="mb-1 d-none">Se ha enviado un correo electrónico de confirmación a la dirección de correo electrónico proporcionada con más detalles.</p>  
                <p class="mb-1">Por favor revise su correo electrónico para verificar su cuenta y completar el proceso de registro.</p>
            </div>
            <!--End Order success-->
            <div class="login-register pt-3">
                <div class="row justify-content-center">
                    <!-- <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-5 offset-lg-4"> -->
                    <div class="col-12 col-sm-12 col-md-8 col-lg-5" [ngClass]="{'px-5': isDesktop, 'px-3': isMobile}">
                        <div class="inner h-100">
                            <form class="customer-form">	
                                <!-- <h2 class="text-center fs-4 mb-4">Crea tu cuenta</h2> -->
                                <p class="text-start mb-4 fw-bold lh-1">Mantén tus datos actualizados y controla tu cuenta fácilmente.</p>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="CustomerUsername" class="d-none">Nombre <span class="required">*</span></label>
                                        <input type="text" name="name" [(ngModel)]="name" placeholder="Nombre" class="py-4" [ngClass]="{'border border-danger': errorName}" (input)="onInputChange('name')"   id="CustomerUsername" value=""  required />
                                        <div class="form-text text-danger mt-0" *ngIf="touchedFields['name'] && !name">Completa este campo para continuar</div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerEmail"  class="d-none">E-mail <span class="required">*</span></label>
                                        <input type="email" name="email" [(ngModel)]="email" placeholder="E-mail" class="py-4" [ngClass]="{'border border-danger': errorEmail}" (input)="onInputChange('email')" id="CustomerEmail" value="" required />
                                        <div class="form-text text-danger mt-0" *ngIf="touchedFields['email'] && !email">Completa este campo para continuar</div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerZipcode" class="d-none">Código postal <span class="required">*</span></label>
                                        <input type="text" name="zipcode" [(ngModel)]="zipcode" placeholder="Código postal" class="py-4" [ngClass]="{'border border-danger': errorZipcode}" (input)="onInputChange('zipcode')" id="CustomerZipcode" value="" required />
                                        <div class="form-text text-danger mt-0" *ngIf="touchedFields['zipcode'] && !zipcode">Completa este campo para continuar</div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerMovil" class="d-none">Móvil<span class="required">*</span></label>
                                        <input type="tel" name="phone" [(ngModel)]="phone" placeholder="Movil" class="py-4" [ngClass]="{'border border-danger': errorPhone}" (input)="onInputChange('phone')" id="CustomerMovil" value="" required />
                                        <div class="form-text text-danger mt-0" *ngIf="touchedFields['phone'] && !phone">Completa este campo para continuar</div>
                                        <div class="form-text text-danger mt-0" *ngIf="errorPhone && phone">Revisa el formato de tu móvil (ej. +346xxxxxxxx / 6xxxxxxxx)</div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerBirthday" class="fs-4 fw-bold">Fecha de nacimiento<span class="required d-none">*</span></label>
                                        <input type="date" name="birthday" [(ngModel)]="birthday" class="py-4" placeholder="Fecha de nacimiento" [ngClass]="{'border border-danger': errorBirthday}" (input)="onInputChange('birthday')" id="CustomerBirthday" value="" required />
                                        <div class="form-text text-danger mt-0" *ngIf="touchedFields['birthday'] && !birthday">Completa este campo para continuar</div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="CustomerPassword"  class="fs-4 fw-bold">Contraseña <span class="required d-none">*</span></label>
                                        <input type="password" name="password"[(ngModel)]="password" class="py-4" placeholder="Contraseña" [ngClass]="{'border border-danger': errorPassword}" (input)="onInputChange('password')" id="CustomerPassword" value="" required />                        	
                                        <div class="form-text text-danger mt-0" *ngIf="touchedFields['password'] && !password">Completa este campo para continuar</div>
                                    </div>
                                    <div class="form-group col-12 d-none">
                                        <label for="CustomerConfirmPassword"  class="d-none">Confirmar Contraseña<span class="required">*</span></label>
                                        <input id="CustomerConfirmPassword" type="Password" class="py-4" name="repeat_password" [(ngModel)]="repeat_password" [ngClass]="{'border border-danger': errorRepeatPassword}" (input)="onInputChange('repeat_password')" placeholder="Confirmar Contraseña" required />                         	
                                        <div class="form-text text-danger mt-0" *ngIf="touchedFields['repeat_password'] && !repeat_password">Completa este campo para continuar</div>
                                    </div>
                                    <div class="form-group col-12 mt-3 mb-3">
                                        <button type="submit" class="btn btn-secondary btn-lg py-3 text-uppercase fw-normal w-100" (click)="updateAccount()" [disabled]="loading">
                                            <ng-container *ngIf="!loading">Guardar cambios</ng-container>
                                            <ng-container *ngIf="loading">
                                                <div class="sp sp-bars bg-light" style="width: 7px !important; height: 21px !important; margin: 0px auto !important;"></div>
                                          </ng-container>
                                        </button>
                                    </div>  
                                    <div class="form-group col-12" *ngIf="this.errorRegister">
                                        <p class="text-danger">{{ this.errorMessage }}</p>
                                    </div>
                                </div>

                                <div class="login-signup-text py-5 text-center">
                                    <a href="#" onclick="return false;" class="text-decoration-underline text-muted form-text text-uppercase">¿Quieres eliminar tu cuenta?</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!-- End Body Container -->

    <!--Scoll Top-->
    <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
    <!--End Scoll Top-->
</div>
<!--End Page Wrapper-->