.skeleton-card {
  /* background-color: #f8f8f8; */
  border-radius: 0px;
  overflow: hidden;
}

.skeleton-img {
  height: 150px;
  border-radius: 0px;
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
}

.skeleton-line {
  height: 12px;
  margin-top: 4px;
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
  border-radius: 0px;
}

.section-header .skeleton-line {
  height: 18px;
  margin-bottom: 6px;
  border-radius: 4px;
}


@keyframes shimmer {
  0% { background-position: -400px 0; }
  100% { background-position: 400px 0; }
}