<!--Top Header-->
<div class="top-header d-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-sm-6 col-md-3 col-lg-4 text-left">
                <i class="icon anm anm-phone-l me-2"></i><a href="tel:401234567890">(+40) 123 456 7890</a>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center d-none d-md-block">
                Free shipping on all orders over $99 <a href="#" class="text-link ms-1">Shop now</a>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-4 text-right d-flex align-items-center justify-content-end">
                <div class="select-wrap language-picker float-start">
                    <ul class="default-option">
                        <li><div class="option english"><div class="icon"><img src="assets/images/flag/english.png" alt="english" width="24" height="24" /></div><span>English</span></div></li>
                    </ul>
                    <ul class="select-ul">
                        <li><div class="option english"><div class="icon"><img src="assets/images/flag/english.png" alt="english" width="24" height="24" /></div><span>English</span></div></li>
                        <li><div class="option arabic"><div class="icon"><img src="assets/images/flag/arabic.png" alt="arabic" width="24" height="24" /></div><span>Arabic</span></div></li>
                        <li><div class="option english"><div class="icon"><img src="assets/images/flag/french.png" alt="french" width="24" height="24" /></div><span>French</span></div></li>
                    </ul>
                </div>
                <div class="select-wrap currency-picker float-start">
                    <ul class="default-option">
                        <li><div class="option USD"><div class="icon"><img src="assets/images/flag/usd.png" alt="usd" width="24" height="24" /></div><span>USD</span></div></li>
                    </ul>
                    <ul class="select-ul">
                        <li><div class="option USD"><div class="icon"><img src="assets/images/flag/usd.png" alt="usd" width="24" height="24" /></div><span>USD</span></div></li>
                        <li><div class="option EUR"><div class="icon"><img src="assets/images/flag/eur.png" alt="eur" width="24" height="24" /></div><span>EUR</span></div></li>
                        <li><div class="option GBP"><div class="icon"><img src="assets/images/flag/gbp.png" alt="gbp" width="24" height="24" /></div><span>GBP</span></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Top Header-->

<!--Header-->
<header class="header d-flex align-items-center header-1 header-fixed" *ngIf="showSubscriptionSection">
    <div class="container">
        <div class="row">
            <!--Logo-->
            <div class="logo col-5 col-sm-3 col-md-3 col-lg-3 align-self-center">
                <a class="logoImg" href="index.html" onclick="return false;" routerLink="/" ><img src="assets/images/logo.png" alt="Hema Multipurpose Html Template" title="Hema Multipurpose Html Template" width="200" height="200" /></a>
            </div>
            <!--End Logo-->
            <!--Menu-->
            <div class="col-1 col-sm-1 col-md-1 col-lg-6 align-self-center d-menu-col">
                <nav class="navigation" id="AccessibleNav">
                    <ul id="siteNav" class="site-nav medium center">
                        <li class="lvl1 parent dropdown"><a href="#">Explorar <i class="icon anm anm-angle-down-l d-none"></i></a>
                            <ul class="dropdown d-none">
                                <li><a href="index.html" class="site-nav lvl-2">Home 01 - Fashion</a></li>
                                <li><a href="index2-footwear.html" class="site-nav lvl-2">Home 02 - Footwear</a></li>
                                <li><a href="index3-bags.html" class="site-nav lvl-2">Home 03 - Bags</a></li>
                                <li><a href="index4-electronic.html" class="site-nav lvl-2">Home 04 - Electronic</a></li>
                                <li><a href="index5-tools-parts.html" class="site-nav lvl-2">Home 05 - Tools &amp; Parts</a></li>
                                <li><a href="index6-jewelry.html" class="site-nav lvl-2">Home 06 - Jewelry</a></li>
                                <li><a href="index7-organic-food.html" class="site-nav lvl-2">Home 07 - Organic Food</a></li>
                                <li><a href="index8-cosmetics.html" class="site-nav lvl-2">Home 08 - Cosmetics</a></li>
                                <li><a href="index9-furniture.html" class="site-nav lvl-2">Home 09 - Furniture</a></li>
                                <li><a href="index10-sunglasses.html" class="site-nav lvl-2">Home 10 - Sunglasses</a></li>
                                <li><a href="index11-medical.html" class="site-nav lvl-2">Home 11 - Medical</a></li>
                                <li><a href="index12-christmas.html" class="site-nav lvl-2">Home 12 - Christmas</a></li>
                            </ul>
                        </li>
                        <li class="lvl1 parent megamenu"><a href="#">Camisetas <i class="icon anm anm-angle-down-l"></i></a>
                            <div class="megamenu style1">
                                <ul class="row grid--uniform mmWrapper">
                                    <li class="lvl-1 col-md-3 col-lg-3 w-22"><a href="#;" class="site-nav lvl-1 menu-title">Hombre</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="collection-style1.html" class="site-nav lvl-2">Todas las camisetas</a></li>
                                            <li class="lvl-2"><a href="collection-style2.html" class="site-nav lvl-2">Camisetas manga larga</a></li>
                                        </ul>
                                    </li>
                                    <li class="lvl-1 col-md-3 col-lg-3 w-22"><a href="#;" class="site-nav lvl-1 menu-title">Mujer</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="shop-grid-view.html" class="site-nav lvl-2">Todas las camisetas</a></li>
                                            <li class="lvl-2"><a href="shop-list-view.html" class="site-nav lvl-2">Camisetas all over</a></li>
                                        </ul>
                                    </li>
                                    <li class="lvl-1 col-md-3 col-lg-3 w-22 d-none"><a href="#;" class="site-nav lvl-1 menu-title">Shop Other Page</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="wishlist-style1.html" class="site-nav lvl-2">Wishlist Style1</a></li>
                                            <li class="lvl-2"><a href="wishlist-style2.html" class="site-nav lvl-2">Wishlist Style2</a></li>
                                            <li class="lvl-2"><a href="compare-style1.html" class="site-nav lvl-2">Compare Style1</a></li>
                                            <li class="lvl-2"><a href="compare-style2.html" class="site-nav lvl-2">Compare Style2</a></li>
                                            <li class="lvl-2"><a href="cart-style1.html" class="site-nav lvl-2">Cart Style1</a></li>
                                            <li class="lvl-2"><a href="cart-style2.html" class="site-nav lvl-2">Cart Style2</a></li>
                                            <li class="lvl-2"><a href="checkout-style1.html" class="site-nav lvl-2">Checkout Style1</a></li>
                                            <li class="lvl-2"><a href="checkout-style2.html" class="site-nav lvl-2">Checkout Style2</a></li>
                                            <li class="lvl-2"><a href="order-success.html" class="site-nav lvl-2">Order Success</a></li>
                                        </ul>
                                    </li>
                                    <li class="lvl-1 col-md-3 col-lg-3 w-34 banner-col">
                                        <div class="banner-wrap">
                                            <a href="shop-left-sidebar.html"><img class="blur-up lazyload" data-src="assets/images/megamenu/banner-menu.png" src="assets/images/megamenu/banner-menu.png" alt="banner" width="600" height="440" /></a>
                                            <div class="banner-content">
                                                <h4>Ofertas especiales</h4>
                                                <h3>No te lo pierdas <br>Tendencias</h3>
                                                <div class="banner-save">Ahorre hasta <br> el 20%</div>
                                                <div class="banner-btn"><a href="shop-left-sidebar.html" [routerLink]="['/filter-products']" onclick="return false;" class="btn">Compra ahora</a></div>
                                            </div>
                                            <div class="banner-discount">
                                                <h3><span>50%</span> Off</h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lvl1 parent megamenu"><a href="#">Sudaderas <i class="icon anm anm-angle-down-l"></i></a>
                            <div class="megamenu style2">
                                <ul class="row mmWrapper">
                                    <li class="lvl-1 col-md-3 col-lg-3">
                                        <a href="#;" class="site-nav lvl-1 menu-title">Hombre</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="product-layout1.html" class="site-nav lvl-2">Todas las sudaderas</a></li>
                                            <li class="lvl-2"><a href="product-layout2.html" class="site-nav lvl-2">Sudaderas con capucha</a></li>
                                        </ul>
                                    </li>
                                    <li class="lvl-1 col-md-3 col-lg-3"><a href="#;" class="site-nav lvl-1 menu-title">Mujer</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="product-standard.html" class="site-nav lvl-2">Todas las sudaderas</a></li>
                                            <li class="lvl-2"><a href="product-variable.html" class="site-nav lvl-2">Sudaderas con capucha</a></li>
                                        </ul>
                                    </li>
                                    <li class="lvl-1 col-md-3 col-lg-6 product-col"><a href="#;" class="site-nav lvl-1 menu-title">Los más vendidos de la semana</a>
                                        <div class="grid-products weekly-product gp10 mt-1">
                                            <div class="item">
                                                <div class="product-wrap position-relative">
                                                    <!-- Start Product Image -->
                                                    <div class="product-image mb-0">
                                                        <a href="product-layout1.html" class="product-img"><img class="blur-up lazyload" data-src="assets/images/megamenu/product1.jpg" src="assets/images/megamenu/product1.jpg" alt="product" title="Product" width="625" height="808" /></a>
                                                        <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
                                                    </div>
                                                    <!-- End Product Image -->
                                                    <!-- Start Product Details -->
                                                    <div class="product-details text-center">
                                                        <div class="product-name"><a class="fw-normal" href="product-layout1.html">Bodysuit Black</a></div>
                                                        <div class="product-price">
                                                            <span class="price old-price">$114.00</span><span class="price">$99.00</span>
                                                        </div>
                                                        <div class="product-review">
                                                            <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                                            <span class="caption hidden ms-1">3 Reviews</span>
                                                        </div>
                                                    </div>
                                                    <!-- End product details -->
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="product-wrap position-relative">
                                                    <!-- Start Product Image -->
                                                    <div class="product-image mb-0">
                                                        <a href="product-layout1.html" class="product-img"><img class="blur-up lazyload" data-src="assets/images/megamenu/product1.jpg" src="assets/images/megamenu/product1.jpg" alt="product" title="Product" width="625" height="808" /></a>
                                                    </div>
                                                    <!-- End Product Image -->
                                                    <!-- Start Product Details -->
                                                    <div class="product-details text-center">
                                                        <div class="product-name"><a class="fw-normal" href="product-layout1.html">Drawstring Dress</a></div>
                                                        <div class="product-price">
                                                            <span class="price">$165.00</span>
                                                        </div>
                                                        <div class="product-review">
                                                            <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i>
                                                            <span class="caption hidden ms-1">13 Reviews</span>
                                                        </div>
                                                    </div>
                                                    <!-- End product details -->
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="product-wrap position-relative">
                                                    <!-- Start Product Image -->
                                                    <div class="product-image mb-0">
                                                        <a href="product-layout1.html" class="product-img"><img class="blur-up lazyload" data-src="assets/images/megamenu/product1.jpg" src="assets/images/megamenu/product1.jpg" alt="product" title="Product" width="625" height="808" /></a>
                                                    </div>
                                                    <!-- End Product Image -->
                                                    <!-- Start Product Details -->
                                                    <div class="product-details text-center">
                                                        <div class="product-name"><a class="fw-normal" href="product-layout1.html">Realm Solid Backpack</a></div>
                                                        <div class="product-price">
                                                            <span class="price">$153.00</span>
                                                        </div>
                                                        <div class="product-review">
                                                            <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                                            <span class="caption hidden ms-1">17 Reviews</span>
                                                        </div>
                                                    </div>
                                                    <!-- End product details -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lvl1 parent dropdown d-none"><a href="#">Pages <i class="icon anm anm-angle-down-l"></i></a>
                            <ul class="dropdown">
                                <li><a href="aboutus-style1.html" class="site-nav">About Us <i class="icon anm anm-angle-right-l"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="aboutus-style1.html" class="site-nav">About Us Style1</a></li>
                                        <li><a href="aboutus-style2.html" class="site-nav">About Us Style2</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-style1.html" class="site-nav">Contact Us <i class="icon anm anm-angle-right-l"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="contact-style1.html" class="site-nav">Contact Us Style1</a></li>
                                        <li><a href="contact-style2.html" class="site-nav">Contact Us Style2</a></li>
                                    </ul>
                                </li>
                                <li><a href="my-account.html" class="site-nav">My Account <i class="icon anm anm-angle-right-l"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="my-account.html" class="site-nav">My Account</a></li>
                                        <li><a href="login.html" class="site-nav">Login</a></li>
                                        <li><a href="register.html" class="site-nav">Register</a></li>
                                        <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                                    </ul>
                                </li>
                                <li><a href="lookbook-grid.html" class="site-nav">Lookbook <i class="icon anm anm-angle-right-l"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="lookbook-grid.html" class="site-nav">Lookbook Grid</a></li>
                                        <li><a href="lookbook-masonry.html" class="site-nav">Lookbook Masonry</a></li>
                                        <li><a href="lookbook-shop.html" class="site-nav">Lookbook Shop</a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio-page.html" class="site-nav">Portfolio Page</a></li>
                                <li><a href="faqs-page.html" class="site-nav">FAQs Page</a></li>
                                <li><a href="brands-page.html" class="site-nav">Brands Page</a></li>
                                <li><a href="cms-page.html" class="site-nav">CMS Page</a></li>
                                <li><a href="elements-icons.html" class="site-nav">Icons</a></li>
                                <li><a href="error-404.html" class="site-nav">Error 404</a></li>
                                <li><a href="coming-soon.html" class="site-nav">Coming soon <span class="lbl nm_label2">New</span></a></li>
                            </ul>
                        </li>
                        <li class="lvl1 parent dropdown d-none"><a href="#">Blog <i class="icon anm anm-angle-down-l"></i></a>
                            <ul class="dropdown">
                                <li><a href="blog-grid.html" class="site-nav">Grid View</a></li>
                                <li><a href="blog-list.html" class="site-nav">List View</a></li>
                                <li><a href="blog-grid-sidebar.html" class="site-nav">Left Sidebar</a></li>
                                <li><a href="blog-list-sidebar.html" class="site-nav">Right Sidebar</a></li>
                                <li><a href="blog-masonry.html" class="site-nav">Masonry Grid</a></li>
                                <li><a href="blog-details.html" class="site-nav">Blog Details</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--End Menu-->
            <!--Right Icon-->
            <div class="col-7 col-sm-9 col-md-9 col-lg-3 align-self-center icons-col text-right">
                <!--Search-->
                <div class="search-parent iconset">
                    <div class="site-search" title="Search">
                        <a href="#;" class="search-icon clr-none" data-bs-toggle="offcanvas" data-bs-target="#search-drawer"><i class="hdr-icon icon anm anm-search-l"></i><span class="menubar-label">Buscar</span></a>
                        <!-- <span class="HeaderSearchBox_text__gst9O">Buscar</span> -->
                    </div>
                    <div class="search-drawer offcanvas offcanvas-top" tabindex="-1" id="search-drawer">
                        <div class="container">
                            <div class="search-header d-flex-center justify-content-between mb-3">
                                <h3 class="title m-0">¿Qué estás buscando?</h3>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="search-body">
                                <form class="form minisearch" id="header-search">
                                    <!--Search Field-->
                                    <div class="d-flex searchField">
                                        <div class="search-category">
                                            <select class="rgsearch-category rounded-end-0">
                                                <option value="0">Todas las categorías</option>
                                                <option *ngFor="let categorie of categories" [value]="categorie.id">- {{ categorie.title }}</option>
                                            </select>
                                        </div>
                                        <div class="input-box d-flex fl-1">
                                            <input type="text" class="input-text border-start-0 border-end-0" [(ngModel)]="search_product" (keyup.enter)="searchProduct()" #filter name="prod-search" id="prod-search" placeholder="Buscar" value="" />
                                            <button type="submit" class="action search d-flex-justify-center btn rounded-start-0"><i class="icon anm anm-search-l"></i></button>
                                        </div>
                                    </div>
                                    <!--End Search Field-->
                                    <!--Search popular-->
                                    <div class="popular-searches d-flex-justify-center mt-3 d-none">
                                        <span class="title fw-600">Tendencias actuales:</span>
                                        <div class="d-flex-wrap searches-items">
                                            <ng-container *ngFor="let categorie of categories">
                                                <a class="text-link ms-2" href="#" onclick="return false;">{{ categorie.title }},</a>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <!--End Search popular-->
                                    <!--Search products-->
                                    <div class="search-products">
                                        <ul class="items g-2 g-md-3 row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
                                            <li class="item empty w-100 text-center text-muted d-none">No tienes ningún artículo en tu búsqueda.</li>
                                            <ng-container *ngFor="let product of products_search">
                                                <li class="item">                                                       
                                                    <div class="mini-list-item d-flex align-items-center w-100 clearfix">
                                                        <div class="mini-image text-center">
                                                            <a class="item-link" href="product-layout1.html" onclick="return false;" [routerLink]="['/landing-product', product.slug]" [queryParams]="getRouterDiscount(product)">
                                                                <img class="blur-up lazyload" [attr.data-src]="product.imagen" [src]="product.imagen" alt="image" title="product" width="120" height="170" />
                                                            </a>
                                                        </div>
                                                        <div class="ms-3 details text-left">
                                                            <div class="product-name"><a class="item-title" href="product-layout1.html" onclick="return false;" [routerLink]="['/landing-product', product.slug]" [queryParams]="getRouterDiscount(product)">{{ product.title }}</a></div>
                                                            <div class="product-price"><span class="old-price" *ngIf="product.campaing_discount">{{ euro }}{{ product.price_usd }}</span><span class="price">{{ euro }}{{ product.price_usd - getDiscountProduct(product) }}</span></div>
                                                            <div class="product-review d-flex align-items-center justify-content-start d-none">
                                                                <i class="icon anm anm-star-o" [ngClass]="{'icon anm anm-star': product.avg_review < 1}"></i>
                                                                <i class="icon anm anm-star-o" [ngClass]="{'icon anm anm-star': product.avg_review < 2}"></i>
                                                                <i class="icon anm anm-star-o" [ngClass]="{'icon anm anm-star': product.avg_review < 3}"></i>
                                                                <i class="icon anm anm-star-o" [ngClass]="{'icon anm anm-star': product.avg_review < 4}"></i>
                                                                <i class="icon anm anm-star-o" [ngClass]="{'icon anm anm-star': product.avg_review < 5}"></i>
                                                                <span class="caption hidden ms-2">{{ product.count_review }} reseñas</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                    <!--End Search products-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Search-->
                <!--Account-->
                <div class="account-parent iconset">
                    <div class="account-link" title="Cuenta">
                        <ng-container *ngIf="isMobile; else desktopLink">
                            <a [routerLink]="CURRENT_USER_AUTHENTICATED ? ['/profile'] : ['/auth/login']" class="text-white">
                                <i class="hdr-icon icon anm anm-user-al"></i>
                            </a>
                        </ng-container>
                        <ng-template #desktopLink>
                            <i class="hdr-icon icon anm anm-user-al"></i>
                        </ng-template>

                        <span class="menubar-label" *ngIf="CURRENT_USER_AUTHENTICATED; else notAuthenticated">
                            Mi cuenta
                          </span>
                          <ng-template #notAuthenticated>
                            <span class="menubar-label" [routerLink]="['/auth/login']">Iniciar sesión</span>
                        </ng-template>
                    </div>
                    <div id="accountBox">
                        <div class="customer-links">
                            <ul class="m-0 m-0 list-group list-group-flush">
                                <li class="mt-3 mb-3" *ngIf="!CURRENT_USER_AUTHENTICATED; else isAuthenticated">
                                    <button class="btn mb-2 btn-secondary btn-lg w-100">
                                        <a href="login.html" onclick="return false;" [routerLink]="['/auth/login']" class="text-white"><i class="icon anm anm-sign-in-al d-none"></i>Iniciar sesión</a>
                                    </button>
                                    <div class="login-signup-text text-center text-secondary form-text">¿No tienes una cuenta? <a href="login.html" onclick="return false;" [routerLink]="['/auth/register']" class="fw-bold text-decoration-underline">Regístrate</a></div>
                                </li>
                                <ng-template #isAuthenticated>
                                    <h5 class="text-secondary px-3">{{ CURRENT_USER_AUTHENTICATED.name }}</h5>
                                </ng-template>
                                
                                <li class="list-group-item d-flex " *ngIf="!CURRENT_USER_AUTHENTICATED">
                                    <a href="register.html" onclick="return false;" [routerLink]="['/auth/register']" class="d-flex flex-row w-100">
                                        <span class="flex-grow-1">Lujandev likes you</span>
                                        <i class="icon anm anm-chevron-r-right"></i>
                                    </a>
                                </li>
                                <li class="list-group-item d-flex " *ngIf="!CURRENT_USER_AUTHENTICATED">
                                    <a href="register.html" onclick="return false;" [routerLink]="['/auth/register']" class="d-flex flex-row w-100">
                                        <span class="flex-grow-1">Ayuda</span>
                                        <i class="icon anm anm-chevron-r-right"></i>
                                    </a>
                                </li>

                                <li class="list-group-item d-flex " *ngIf="CURRENT_USER_AUTHENTICATED">
                                    <a href="my-account.html" onclick="return false;" [routerLink]="['/my-account']" class="d-flex flex-row w-100">
                                        <span class="flex-grow-1">Mi cuenta</span>
                                        <i class="icon anm anm-chevron-r-right"></i>
                                    </a>
                                </li>

                                <li class="list-group-item d-flex " *ngIf="CURRENT_USER_AUTHENTICATED">
                                    <a href="register.html" onclick="return false;" [routerLink]="['/mypurchases']" class="d-flex flex-row w-100">
                                        <span class="flex-grow-1">Mis compras </span>
                                        <i class="icon anm anm-chevron-r-right"></i>
                                    </a>
                                </li>

                                <li class="list-group-item d-flex " *ngIf="CURRENT_USER_AUTHENTICATED">
                                    <a href="login.html" onclick="return false;" (click)="logout()" class="d-flex flex-row w-100">
                                        <span class="flex-grow-1">Cerrar sesión</span>
                                        <i class="con anm anm-chevron-r-right"></i>
                                    </a>
                                </li>

                                <!-- <li class="list-group-item" *ngIf="!CURRENT_USER_AUTHENTICATED"><a href="register.html" onclick="return false;" [routerLink]="['/auth/register']" ><i class="icon anm anm-user-al d-none"></i>Registrar</a></li>
                                <li *ngIf="CURRENT_USER_AUTHENTICATED"><a href="my-account.html" onclick="return false;" [routerLink]="['/profile']" ><i class="icon anm anm-user-cil"></i>Mi cuenta</a></li>
                                <li class="list-group-item"><a href="wishlist-style1.html" onclick="return false;" [routerLink]="['/wishlist']" ><i class="icon anm anm-heart-l d-none"></i>Favoritos</a></li>
                                <li class="d-none"><a href="compare-style1.html" onclick="return false;" [routerLink]="['/compare']"><i class="icon anm anm-random-r"></i>Comparar</a></li>
                                <li *ngIf="CURRENT_USER_AUTHENTICATED"><a href="login.html" onclick="return false;" (click)="logout()" ><i class="icon anm anm-sign-out-al"></i>Salir</a></li> -->
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <!--End Account-->
                <!--Wishlist-->
                <div class="wishlist-link iconset" title="Wishlist">
                    <a href="wishlist-style1.html"  onclick="return false;" [routerLink]="['/favorites']">
                        <i class="hdr-icon icon anm anm-heart-l"></i><span class="menubar-label">Favoritos</span>
                        <span class="wishlist-count" >{{ listWishlists.length }}</span>
                    </a>
                    <!-- <span class="Icons_text__HOyk8">Favoritos</span> -->
                </div>
                <!--End Wishlist-->
                <!--Minicart-->
                <div class="header-cart iconset"title="Carro">
                    <ng-container *ngIf="isMobile; else desktopLinkMiniCart">
                        <a href="cart-style1.html" onclick="return false;" [routerLink]="CURRENT_USER_AUTHENTICATED ? ['/cart'] : ['/auth/login']" class="header-cart btn-minicart clr-none">
                            <i class="hdr-icon icon anm anm-cart-l"></i><span class="menubar-label">Carro</span><span class="cart-count">{{ listCarts.length }}</span>
                        </a>
                    </ng-container>
                    <ng-template #desktopLinkMiniCart>
                        <a href="#;" class="header-cart btn-minicart clr-none" data-bs-toggle="offcanvas" data-bs-target="#minicart-drawer">
                            <i class="hdr-icon icon anm anm-cart-l"></i><span class="menubar-label">Carro</span><span class="cart-count">{{ listCarts.length }}</span>
                        </a>
                    </ng-template>
                    
                </div>
                <!--End Minicart-->
                <!--Mobile Toggle-->
                <button type="button" class="iconset pe-0 menu-icon js-mobile-nav-toggle mobile-nav--open d-lg-none" title="Menu"><i class="hdr-icon icon anm anm-times-l"></i><i class="hdr-icon icon anm anm-bars-r"></i></button>
                <!--End Mobile Toggle-->
            </div>
            <!--End Right Icon-->
        </div>
    </div>
</header>
<!--End Header-->

 <!--Mobile Menu-->
 <div class="mobile-nav-wrapper" role="navigation">
    <div class="closemobileMenu">Close Menu <i class="icon anm anm-times-l"></i></div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent dropdown"><a href="index.html">Inicio <i class="icon anm anm-angle-down-l"></i></a>
            <ul class="lvl-2">
                <li><a href="index.html" class="site-nav">Home 01 - Fashion</a></li>
                <li><a href="index2-footwear.html" class="site-nav">Home 02 - Footwear</a></li>
                <li><a href="index3-bags.html" class="site-nav">Home 03 - Bags</a></li>
                <li><a href="index4-electronic.html" class="site-nav d-none">Home 04 - Electronic</a></li>
                <li><a href="index5-tools-parts.html" class="site-nav d-none">Home 05 - Tools &amp; Parts</a></li>
                <li><a href="index6-jewelry.html" class="site-nav d-none">Home 06 - Jewelry</a></li>
                <li><a href="index7-organic-food.html" class="site-nav d-none">Home 07 - Organic Food</a></li>
                <li><a href="index8-cosmetics.html" class="site-nav d-none">Home 08 - Cosmetics</a></li>
                <li><a href="index9-furniture.html" class="site-nav d-none">Home 09 - Furniture</a></li>
                <li><a href="index10-sunglasses.html" class="site-nav d-none">Home 10 - Sunglasses</a></li>  
                <li><a href="index11-medical.html" class="site-nav d-none">Home 11 - Medical</a></li>
                <li><a href="index12-christmas.html" class="site-nav d-none last">Home 12 - Christmas</a></li>                   
            </ul>
        </li>
        <li class="lvl1 parent megamenu d-none"><a href="#">Shop <i class="icon anm anm-angle-down-l"></i></a>
            <ul class="lvl-2">
                <li><a href="#;" class="site-nav">Collection Page <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3">
                        <li><a href="collection-style1.html" class="site-nav">Collection style1</a></li>
                        <li><a href="collection-style2.html" class="site-nav">Collection style2</a></li>
                        <li><a href="collection-style3.html" class="site-nav">Collection style3</a></li>
                        <li><a href="collection-style4.html" class="site-nav">Collection style4</a></li>
                        <li><a href="sub-collection-style1.html" class="site-nav">Sub Collection style1</a></li>
                        <li><a href="sub-collection-style2.html" class="site-nav">Sub Collection style2</a></li>
                        <li><a href="collection-empty.html" class="site-nav">Collection Empty</a></li>
                        <li><a href="shop-search-results.html" class="site-nav">Shop Search Results</a></li>
                        <li><a href="shop-swatches-style.html" class="site-nav last">Shop Swatches style</a></li>
                    </ul>
                </li>
                <li><a href="#;" class="site-nav">Shop Page <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3">
                        <li><a href="shop-grid-view.html" class="site-nav">Shop Grid View</a></li>
                        <li><a href="shop-list-view.html" class="site-nav">Shop List View</a></li>
                        <li><a href="shop-left-sidebar.html" class="site-nav">Shop Left Sidebar</a></li>
                        <li><a href="shop-right-sidebar.html" class="site-nav">Shop Right Sidebar</a></li>
                        <li><a href="shop-top-filter.html" class="site-nav">Shop Top Filter</a></li>
                        <li><a href="shop-masonry-grid.html" class="site-nav">Shop Masonry Grid</a></li>
                        <li><a href="shop-with-category.html" class="site-nav">Shop With Category</a></li>
                        <li><a href="shop-grid-view.html" class="site-nav">Classic Pagination</a></li>
                        <li><a href="shop-right-sidebar.html" class="site-nav last">Infinite Scrolling</a></li>
                    </ul>
                </li>
                <li><a href="#;" class="site-nav">Shop Other Page <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3">
                        <li><a href="wishlist-style1.html" class="site-nav">Wishlist Style1</a></li>
                        <li><a href="wishlist-style2.html" class="site-nav">Wishlist Style2</a></li>
                        <li><a href="compare-style1.html" class="site-nav">Compare Style1</a></li>
                        <li><a href="compare-style2.html" class="site-nav">Compare Style2</a></li>
                        <li><a href="cart-style1.html" class="site-nav">Cart Style1</a></li>
                        <li><a href="cart-style2.html" class="site-nav">Cart Style2</a></li>
                        <li><a href="checkout-style1.html" class="site-nav">Checkout Style1</a></li>
                        <li><a href="checkout-style2.html" class="site-nav">Checkout Style2</a></li>
                        <li><a href="order-success.html" class="site-nav last">Order Success</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu d-none"><a href="product-layout1.html">Product <i class="icon anm anm-angle-down-l"></i></a>
            <ul class="lvl-2">
                <li><a href="product-layout1.html" class="site-nav">Product Page <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3">
                        <li><a href="product-layout1.html" class="site-nav">Product Layout1</a></li>
                        <li><a href="product-layout2.html" class="site-nav">Product Layout2</a></li>
                        <li><a href="product-layout3.html" class="site-nav">Product Layout3</a></li>
                        <li><a href="product-layout4.html" class="site-nav">Product Layout4</a></li>
                        <li><a href="product-layout5.html" class="site-nav">Product Layout5</a></li>
                        <li><a href="product-layout6.html" class="site-nav">Product Layout6</a></li>
                        <li><a href="product-layout7.html" class="site-nav">Product Layout7</a></li>
                        <li><a href="product-3d-ar-models.html" class="site-nav last">Product 3D, AR models</a></li>
                    </ul>
                </li>
                <li><a href="product-standard.html" class="site-nav">Product Page Types <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3">
                        <li><a href="product-standard.html" class="site-nav">Standard Product</a></li>
                        <li><a href="product-variable.html" class="site-nav">Variable Product</a></li>
                        <li><a href="product-grouped.html" class="site-nav">Grouped Product</a></li>
                        <li><a href="product-layout4.html" class="site-nav">Product Back in stock</a></li>
                        <li><a href="product-layout6.html" class="site-nav">Product Accordion</a></li>
                        <li><a href="product-layout7.html" class="site-nav">Product Tabs Left</a></li>
                        <li><a href="product-layout6.html" class="site-nav">Product Bundle</a></li>
                        <li><a href="prodcut-360-view.html" class="site-nav last">Product 360 View</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent dropdown d-none"><a href="#;">Pages <i class="icon anm anm-angle-down-l"></i></a>
            <ul class="lvl-2">
                <li><a href="aboutus-style1.html" class="site-nav">About Us <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3 dropdown">
                        <li><a href="aboutus-style1.html" class="site-nav">About Us Style1</a></li>
                        <li><a href="aboutus-style2.html" class="site-nav">About Us Style2</a></li>
                    </ul>
                </li>
                <li><a href="contact-style1.html" class="site-nav">Contact Us <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3 dropdown">
                        <li><a href="contact-style1.html" class="site-nav">Contact Us Style1</a></li>
                        <li><a href="contact-style2.html" class="site-nav">Contact Us Style2</a></li>
                    </ul>
                </li>
                <li><a href="my-account.html" class="site-nav">My Account <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3 dropdown">
                        <li><a href="my-account.html" class="site-nav">My Account</a></li>
                        <li><a href="login.html" class="site-nav">Login</a></li>
                        <li><a href="register.html" class="site-nav">Register</a></li>
                        <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                    </ul>
                </li>
                <li><a href="lookbook-grid.html" class="site-nav">Lookbook <i class="icon anm anm-angle-down-l"></i></a>
                    <ul class="lvl-3 dropdown">
                        <li><a href="lookbook-grid.html" class="site-nav">Lookbook Grid</a></li>
                        <li><a href="lookbook-masonry.html" class="site-nav">Lookbook Masonry</a></li>
                        <li><a href="lookbook-shop.html" class="site-nav">Lookbook Shop</a></li>
                    </ul>
                </li>
                <li><a href="portfolio-page.html" class="site-nav">Portfolio Page</a></li>
                <li><a href="faqs-page.html" class="site-nav">FAQs Page</a></li>
                <li><a href="brands-page.html" class="site-nav">Brands Page</a></li>
                <li><a href="cms-page.html" class="site-nav">CMS Page</a></li>
                <li><a href="elements-icons.html" class="site-nav">Icons</a></li>
                <li><a href="error-404.html" class="site-nav">Error 404</a></li>
                <li><a href="coming-soon.html" class="site-nav">Coming soon <span class="lbl nm_label2">New</span></a></li>
            </ul>
        </li>
        <li class="lvl1 parent dropdown d-none"><a href="blog-grid.html">Blog <i class="icon anm anm-angle-down-l"></i></a>
            <ul class="lvl-2">
                <li><a href="blog-grid.html" class="site-nav">Grid View</a></li>
                <li><a href="blog-list.html" class="site-nav">List View</a></li>
                <li><a href="blog-grid-sidebar.html" class="site-nav">Left Sidebar</a></li>
                <li><a href="blog-list-sidebar.html" class="site-nav">Right Sidebar</a></li>
                <li><a href="blog-masonry.html" class="site-nav">Masonry Grid</a></li>
                <li><a href="blog-details.html" class="site-nav">Blog Details</a></li>
            </ul>
        </li>

        <li class="mobile-menu-bottom">
            <div class="mobile-links"> 
                <ul class="list-inline d-inline-flex flex-column w-100">
                    <li *ngIf="!CURRENT_USER_AUTHENTICATED"><a href="login.html" class="d-flex align-items-center" onclick="return false;" [routerLink]="['/auth/login']"><i class="icon anm anm-sign-in-al"></i>Iniciar sesión</a></li>
                    <li *ngIf="!CURRENT_USER_AUTHENTICATED"><a href="register.html" class="d-flex align-items-center" onclick="return false;" [routerLink]="['/auth/register']"><i class="icon anm anm-user-al"></i>Registrar</a></li>
                    <li *ngIf="CURRENT_USER_AUTHENTICATED"><a href="my-account.html" class="d-flex align-items-center" onclick="return false;" [routerLink]="['/profile']"><i class="icon anm anm-user-cil"></i>Mi cuenta</a></li>
                    <li class="title h5 d-none">¿Necesitas ayuda?</li>
                    <li class="d-none"><a href="tel:401234567890" class="d-flex align-items-center"><i class="icon anm anm-phone-l"></i> (+40) 123 456 7890</a></li>
                    <li class="d-none"><a href="mailto:info@example.com" class="d-flex align-items-center"><i class="icon anm anm-envelope-l"></i> infoexample.com</a></li>
                </ul>
            </div>
            <div class="mobile-follow mt-2">  
                <h5 class="title">Síganos</h5>
                <ul class="list-inline social-icons d-inline-flex mt-1">
                    <li class="list-inline-item"><a href="#" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Linkedin"><i class="icon anm anm-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Instagram"><i class="icon anm anm-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Youtube"><i class="icon anm anm-youtube"></i></a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!--End Mobile Menu-->


<!--MiniCart Drawer-->
<div id="minicart-drawer" class="minicart-right-drawer offcanvas offcanvas-end" tabindex="-1">
    <!--MiniCart Empty-->
    <div id="cartEmpty" class="cartEmpty d-flex-justify-center flex-column text-center p-3 text-muted d-none">
        <div class="minicart-header d-flex-center justify-content-between w-100">
            <h4 class="fs-6">Your cart (0 Items)</h4>
            <button class="close-cart border-0" data-bs-dismiss="offcanvas" aria-label="Close"><i class="icon anm anm-times-r" data-bs-toggle="tooltip" data-bs-placement="left" title="Close"></i></button>
        </div>
        <div class="cartEmpty-content mt-4">
            <i class="icon anm anm-cart-l fs-1 text-muted"></i> 
            <p class="my-3">No Products in the Cart</p>
            <a href="index.html" class="btn btn-primary cart-btn">Continue shopping</a>
        </div>
    </div>
    <!--End MiniCart Empty-->

    <!--MiniCart Content-->
    <div id="cart-drawer" class="block block-cart" *ngIf="listCarts">
        <div class="minicart-header">
            <button class="close-cart border-0" data-bs-dismiss="offcanvas" aria-label="Close"><i class="icon anm anm-times-r" data-bs-toggle="tooltip" data-bs-placement="left" title="Close"></i></button>
            <h4 class="fs-6">Tu carrito ({{ listCarts.length }} Elementos)</h4>
        </div>
        <div class="minicart-content">
            <ng-container *ngIf="listCarts.length == 0; else allCarts">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="p-2 text-center">
                        <div class="inner mb-3">
                            <div class="bradcrumb-thumb">
                                <img src="assets/images/favicon.png" alt="Image" style="width: 50px; height: 50px;">
                            </div>
                        </div>
                        <h5 class="header-title mb-0">Tu carrito está vacío</h5>
                        <small>Empieza a añadir productos :)</small>
                    </div>
               </div>
            </ng-container>
            <ng-template #allCarts>
                <ul class="m-0 clearfix">
                    <ng-container *ngFor="let cart of listCarts">
                        <li class="item d-flex justify-content-center align-items-center">
                            <a class="product-image rounded-3" href="product-layout1.html" onclick="return false;" [routerLink]="['/landing-product', cart.product.slug]">
                                <img class="blur-up lazyload" [attr.data-src]="cart.variedad.files[1].preview_url" [src]="cart.variedad.files[1].preview_url" alt="product" title="Product" width="120" height="170" />
                            </a>
                            <div class="product-details">
                                <a class="product-title" href="product-layout1.html"  href="product-layout1.html" onclick="return false;" [routerLink]="['/landing-product', cart.product.slug]">{{ cart.product.title }}</a>
                                <div class="variant-cart my-2" *ngIf="cart.variedad">{{ cart.variedad.color }} / {{ cart.variedad.valor }}</div>
                                <div class="priceRow">
                                    <div class="product-price">
                                        <span class="price">{{ euro }}{{ cart.total | number: '1.2-2' }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="qtyDetail text-center">
                                <div class="qtyField">
                                    <a class="qtyBtn minus" href="#;" onclick="return false;" (click)="dec(cart)"><i class="icon anm anm-minus-r"></i></a>
                                    <input type="text" name="quantity" [value]="cart.cantidad" class="qty">
                                    <a class="qtyBtn plus" href="#;" onclick="return false;" (click)="inc(cart)"><i class="icon anm anm-plus-r"></i></a>
                                </div>
                                <a href="#" class="edit-i remove d-none"><i class="icon anm anm-pencil-ar" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"></i></a>
                                <a href="#" class="edit-i edit d-none"><i class="icon anm anm-heart-l" data-bs-toggle="tooltip" data-bs-placement="top" title="Comprar mas tarde"></i></a>
                                <a href="#" class="remove" onclick="return false;" (click)="removeCart(cart)">Eliminar</a>
                                <!-- <a href="#" class="remove" onclick="return false;" (click)="removeCart(cart)"><i class="icon anm anm-times-r" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"></i></a> -->
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </ng-template>
        </div>
        <div class="minicart-bottom" *ngIf="listCarts.length != 0">
            <!--
                La frase "Only $199.00 away from Free Shipping" significa que el cliente necesita gastar $199.00 más para calificar para el envío gratuito en su compra. 
                Esta es una estrategia común en el comercio electrónico para incentivar a los clientes a agregar más productos a su carrito con el fin de alcanzar un umbral 
                específico de gasto que les permitirá obtener el envío gratuito.

                Por ejemplo, si el umbral para el envío gratuito es de $300.00 y el cliente tiene actualmente $101.00 en su carrito, se le indicará que solo necesita gastar $199.00 más 
                para obtener el envío sin costo adicional. Esta técnica suele aumentar el valor promedio de los pedidos, ya que los clientes están motivados a agregar más artículos para 
                evitar los gastos de envío.
            -->
            <div class="shipinfo d-none">
                <div class="progress mb-2"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div></div>
                <div class="freeShipMsg"><i class="icon anm anm-truck-l fs-6 me-2 align-middle"></i>A solo <span class="money" data-currency-usd="$199.00" data-currency="USD">{{ euro }}10.00</span> de envío<b> gratis</b></div>
                <div class="freeShipMsg d-none"><i class="icon anm anm-truck-l fs-6 me-2 align-middle"></i>Congrats! You are eligible for <b>Free Shipping</b></div>
            </div>
            <div class="subtotal clearfix my-3">
                <div class="totalInfo clearfix mb-1"><span>Envío</span><span class="item product-price">{{ euro }}3.50</span></div>
                <div class="totalInfo clearfix mb-1 d-none"><span>Tax</span><span class="item product-price">$0.00</span></div>
                <div class="totalInfo clearfix"><span>Total</span><span class="item product-price">{{ euro }}{{ totalCarts | number: '1.2-2' }}</span></div>

            </div>
            <div class="agree-check customCheckbox d-none">
                <input id="prTearm" name="tearm" type="checkbox" value="tearm" required />
                <label for="prTearm"> I agree with the </label><a href="#" class="ms-1 text-link">Terms &amp; conditions</a>
            </div>
            <div class="minicart-action d-flex mt-3">
                <a href="cart-style1.html" onclick="return false;" [routerLink]="['/cart']" class="cart-btn btn btn-outline-secondary w-50 me-1 btn-lg">Ver carrito</a>
                <a href="checkout-style1.html" onclick="return false;" (click)="goToCheckout()" class="proceed-to-checkout btn btn-primary w-50 ms-1 btn-lg"> Comenzar pedido</a>
            </div>
        </div>
    </div>
    <!--MiniCart Content-->
</div>
<!--End MiniCart Drawer-->