<!--Page Wrapper-->
<div class="page-wrapper bg-prehome">
    <!-- Body Container -->
    <div>
        <!--Main Content-->
        <div class="container">
            <div class="login-register">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-4">
                        <div class="inner h-100">
                            <form class="customer-form ">	
                                <div class="form-row d-flex flex-column align-items-center justify-content-center vh-100">
                                    <div class="form-group col-12 col-lg-12 mb-4 text-center">
                                        <a class="logoImg" [href]="['/']" >
                                            <img src="assets/images/logo.png" alt="LujanDev | Tu código, tu estilo" title="Lujandev | Tu código, tu estilo" title="LujanDev" />
                                        </a>
                                        <div class="form-text text-uppercase ls-1 text-white mt-4">
                                           ¡La elegancia del código también se lleva puesta!
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-lg-12">
                                        <label for="address_country1" class="form-label text-uppercase ls-1 form-text text-white">Selecciona un país o región</label>
                                        <select style="font-size: 15px; height: 50px;" id="address_country1" [(ngModel)]="selectedCountry" (change)="onCountryChange()" name="address[country]" class="form-control border border-secondary  ls-1">
                                            <option value="0" disabled>Selecciona un país o región</option>
                                            <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-lg-12">
                                        <label for="address_language" class="form-label text-uppercase ls-1 form-text text-white">Idioma</label>
                                        <select style="font-size: 15px; height: 50px;" id="address_language" [(ngModel)]="selectedLocale" name="address[language]" class="form-control border border-secondary ls-1">
                                            <option *ngFor="let locale of availableLocales" [value]="locale.code">{{ locale.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-lg-12 mt-3">
                                        <button  type="submit" class="btn-transparent-ld text-uppercase" (click)="gotoHome()">
                                            Aceptar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!-- End Body Container -->
</div>
<!--End Page Wrapper-->