<!--  PAGE WRAPPER  -->
<div class="page-wrapper">


    <!-- BODY CONTAINER -->
    <div id="page-content">

        <!-- PAGE HEADER -->
        <div class="page-header text-center bg-transparent mb-0 p-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-start">
                        <div class="page-title ">
                            <h2 class="fw-bold text-uppercase mb-0">Política de Privacidad y Cookies</h2>
                            <p class="text-start text-muted fw-normal"><small>Última versión: 16/07/2025</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER -->

        <!-- MAIN CONTENT -->
        <div class="container px-4">
            <h3 class="text-uppercase fw-bold">Información sobre el tratamiento de datos personales</h3>
            <div class="d-flex flex-column">
                <article class="">
                    <h4 class="text-uppercase">¿Quién es el responsable del tratamiento de tus datos?</h4>
                    <div>
                        <p class="GenericStyles_paragraph__0VrMJ">
                            El responsable del tratamiento de los datos personales recogidos a través de esta plataforma
                            es
                            <span class="GenericStyles_bold__MKMWe">LUJANDEV</span>, con sitio web <a
                                href="https://tienda.lujandev.com/" target="_blank">https://tienda.lujandev.com/</a>.
                            Actualmente, nuestra tienda opera exclusivamente de forma online.
                        </p>

                        <ul>
                            <li>
                                <span class="GenericStyles_bold__MKMWe">Correo electrónico de contacto: </span>
                                <a href="mailto:soporte@lujandev.com">soportelujandev.com</a>
                            </li>
                        </ul>

                        <p class="GenericStyles_paragraph__0VrMJ">
                            LUJANDEV ha designado un punto de contacto para cualquier cuestión relacionada con la
                            protección de datos.
                            Puedes escribirnos a través del correo mencionado anteriormente para ejercer tus derechos o
                            realizar cualquier consulta sobre el tratamiento de tus datos personales.
                        </p>
                    </div>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">¿Con qué finalidad tratamos tus datos personales?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        En LUJANDEV tratamos los datos personales con las siguientes finalidades:
                    </p>
                    <ul>
                        <li>Gestionar tu compra y entrega de productos adquiridos en nuestra tienda online.</li>
                        <li>Atender tus consultas o solicitudes enviadas a través de los formularios de contacto.</li>
                        <li>Enviar comunicaciones comerciales sobre productos o promociones (si lo consientes).</li>
                        <li>Mejorar tu experiencia de usuario y realizar análisis estadísticos de navegación.</li>
                    </ul>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">¿Qué base legal nos permite tratar tus datos?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        El tratamiento de tus datos se basa en:
                    </p>
                    <ul>
                        <li>La ejecución del contrato de compraventa (cuando compras un producto).</li>
                        <li>Tu consentimiento (por ejemplo, cuando aceptas recibir nuestras newsletters o cookies).</li>
                        <li>El cumplimiento de nuestras obligaciones legales.</li>
                        <li>Nuestro interés legítimo en mejorar el servicio y prevenir fraudes.</li>
                    </ul>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">¿Durante cuánto tiempo conservamos tus datos?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        Conservaremos tus datos personales solo durante el tiempo necesario para cumplir con las
                        finalidades para las que fueron recogidos, o mientras exista una obligación legal que lo
                        requiera.
                    </p>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">¿Se comunican tus datos a terceros?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        No cederemos tus datos personales a terceros, salvo obligación legal o en los casos en que sea
                        necesario para la prestación del servicio (por ejemplo, proveedores de servicios de pago,
                        logística o alojamiento web), quienes tratarán tus datos como encargados del tratamiento bajo
                        nuestras instrucciones.
                    </p>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">¿Cuáles son tus derechos sobre tus datos?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        Tienes derecho a:
                    </p>
                    <ul>
                        <li>Acceder a tus datos personales.</li>
                        <li>Solicitar la rectificación de datos inexactos.</li>
                        <li>Solicitar la supresión de tus datos cuando ya no sean necesarios.</li>
                        <li>Oponerte al tratamiento de tus datos.</li>
                        <li>Solicitar la portabilidad de tus datos.</li>
                        <li>Retirar el consentimiento en cualquier momento.</li>
                    </ul>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        Para ejercer estos derechos, puedes escribirnos a <a
                            href="mailto:soporte@lujandev.com">soportelujandev.com</a>. También puedes presentar una
                        reclamación ante la Agencia Española de Protección de Datos (<a href="https://www.aepd.es/"
                            target="_blank">www.aepd.es</a>).
                    </p>
                </article>

                <!-- Politica de cookie -->
                <article class=" mt-5">
                    <h4 class="text-uppercase">Política de cookies</h4>

                    <h4 class="fw-bold mt-4">¿Qué son las cookies y cómo se utilizan?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        Las cookies son archivos que se instalan en tu dispositivo (ordenador, móvil, tablet u otro) con
                        el objetivo de registrar y recuperar información sobre tu actividad de navegación en nuestro
                        sitio web (<a href="https://tienda.lujandev.com"
                            target="_blank">https://tienda.lujandev.com</a>).
                    </p>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        Gracias al uso de cookies, nuestro servidor puede reconocer el navegador que utilizas y
                        facilitarte el acceso a zonas privadas, recordar tus preferencias (como idioma o país), analizar
                        el tráfico del sitio, medir la audiencia y mostrar contenido personalizado.
                    </p>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        Además del término “cookies”, también nos referimos a tecnologías similares que cumplen
                        funciones equivalentes, como píxeles de seguimiento, web beacons, almacenamiento local (HTML5),
                        SDKs o técnicas de fingerprinting, las cuales pueden utilizarse en conjunto para mejorar la
                        experiencia del usuario.
                    </p>

                    <h4 class="fw-bold mt-4">¿Para qué utiliza las cookies LUJANDEV?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        En LUJANDEV utilizamos cookies con las siguientes finalidades:
                    </p>
                    <ul>
                        <li>Elaborar estadísticas sobre visitas y uso del sitio web.</li>
                        <li>Ofrecer una experiencia de navegación más personalizada.</li>
                        <li>Recordar datos de acceso cuando inicias sesión (si procede).</li>
                        <li>Mostrar publicidad personalizada basada en tus hábitos de navegación, tanto en esta web como
                            en otras plataformas.</li>
                    </ul>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        En ningún caso almacenamos información sensible como contraseñas, direcciones exactas u otros
                        datos personales directamente en las cookies.
                    </p>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        LUJANDEV no vende tus datos personales a terceros bajo ninguna circunstancia.
                    </p>
                </article>


                <article class=" mt-5">
                    <h4 class="text-uppercase">¿Qué tipos de cookies utiliza LUJANDEV?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        A continuación, te explicamos los tipos de cookies que se pueden utilizar en esta tienda online
                        según su
                        finalidad y según la entidad que las gestione (propias o de terceros).
                    </p>

                    <h4 class="fw-bold mt-4">Según la entidad que las gestiona</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-light text-center">
                                <tr>
                                    <th>Gestión</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cookies de gestión propia</td>
                                    <td>Son aquellas creadas o gestionadas por LUJANDEV, como responsable del sitio web.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cookies de terceros</td>
                                    <td>Son aquellas administradas por servicios ajenos a LUJANDEV, como Google o Meta
                                        (Facebook). Estas se detallan en el panel de configuración de cookies.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4 class="fw-bold mt-4">Según su finalidad</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-light text-center">
                                <tr>
                                    <th>Finalidad</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cookies estrictamente necesarias</td>
                                    <td>
                                        Son esenciales para que el sitio web funcione correctamente. Incluyen, por
                                        ejemplo, las que permiten
                                        el acceso a áreas seguras, mantener la sesión activa, o recordar tu
                                        consentimiento sobre el uso de cookies.
                                        No almacenan información personal identificable.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cookies de preferencias o personalización</td>
                                    <td>
                                        Permiten recordar tus preferencias, como el idioma o la configuración regional.
                                        Su no aceptación
                                        puede afectar al rendimiento o mostrar contenido no adaptado.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cookies de análisis</td>
                                    <td>
                                        Ayudan a LUJANDEV o a terceros (como Google Analytics) a medir y analizar el uso
                                        del sitio web
                                        para mejorar la experiencia del usuario y los servicios ofrecidos.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cookies publicitarias comportamentales</td>
                                    <td>
                                        Permiten mostrar publicidad personalizada basada en tu comportamiento de
                                        navegación. Son gestionadas
                                        generalmente por terceros como Meta o Google Ads.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cookies de redes sociales</td>
                                    <td>
                                        Permiten compartir contenido de LUJANDEV en redes sociales como Facebook,
                                        Instagram o WhatsApp.
                                        Estas cookies son establecidas por las propias plataformas.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">¿Cómo deshabilitar las cookies en los principales navegadores?</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        Puedes permitir, bloquear o eliminar las cookies instaladas en tu dispositivo a través de la
                        configuración del navegador que utilices. Ten en cuenta que, si deshabilitas ciertas cookies, es
                        posible que algunas funcionalidades del sitio no estén disponibles o no funcionen correctamente.
                    </p>

                    <p class="GenericStyles_paragraph__0VrMJ">
                        A continuación, te ofrecemos enlaces con instrucciones para gestionar las cookies en los
                        principales navegadores:
                    </p>

                    <ul>
                        <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google
                                Chrome</a></li>
                        <li><a href="https://support.mozilla.org/es/kb/administrar-cookies-y-datos-de-sitios-web"
                                target="_blank">Mozilla Firefox</a></li>
                        <li><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies"
                                target="_blank">Internet Explorer</a></li>
                        <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac"
                                target="_blank">Safari</a></li>
                        <li><a href="https://help.opera.com/en/latest/web-preferences/#cookies"
                                target="_blank">Opera</a></li>
                    </ul>

                    <p class="GenericStyles_paragraph__0VrMJ">
                        Si has aceptado cookies de terceros, también puedes eliminarlas desde las opciones del navegador
                        o directamente desde los sistemas que proporcionan esos terceros.
                    </p>

                    <p class="GenericStyles_paragraph__0VrMJ">
                        Te recomendamos consultar cómo gestionan tus datos dichos terceros en sus respectivas políticas
                        de privacidad. Por ejemplo, puedes revisar cómo lo hace Google en su <a
                            href="https://safety.google/business/privacy/" target="_blank">Centro de Seguridad para
                            Empresas</a>.
                    </p>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">Plazos de conservación</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        En LUJANDEV conservaremos tus datos personales únicamente durante el tiempo necesario para
                        cumplir con las finalidades para las que fueron recogidos, y mientras puedan derivarse
                        responsabilidades legales. Una vez cumplido ese plazo, los datos serán bloqueados o eliminados
                        de forma segura.
                    </p>

                    <p class="GenericStyles_paragraph__0VrMJ">
                        Las cookies aceptadas por el usuario serán conservadas durante un período máximo de <strong>13
                            meses</strong>. Transcurrido ese tiempo, se te solicitará nuevamente el consentimiento
                        cuando vuelvas a visitar nuestro sitio web.
                    </p>

                    <p class="GenericStyles_paragraph__0VrMJ">
                        En el caso de cookies de terceros, puedes consultar los plazos de conservación concretos en sus
                        políticas de privacidad y cookies respectivas.
                    </p>
                </article>

                <article class=" mt-5">
                    <h4 class="text-uppercase">Transferencias de datos a terceros países</h4>
                    <p class="GenericStyles_paragraph__0VrMJ">
                        En general, el tratamiento de datos se realiza por proveedores ubicados dentro del Espacio
                        Económico Europeo (EEE). En caso de que se produzcan transferencias internacionales de datos
                        fuera del EEE (por ejemplo, con servicios de análisis o publicidad de terceros como Google o
                        Meta), estas se realizarán de conformidad con las garantías legales adecuadas, tales como las
                        cláusulas contractuales tipo aprobadas por la Comisión Europea.
                    </p>

                    <p class="GenericStyles_paragraph__0VrMJ">
                        Para más información sobre las transferencias internacionales realizadas por terceros que
                        gestionan cookies en este sitio, puedes consultar sus respectivas políticas de privacidad.
                    </p>
                </article>
            </div>
        </div>
        <!-- END MAIN CONTENT -->


    </div>
    <!-- END BODY CONTAINER -->



    <!-- SCROLL TOP-->
    <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
    <!-- END SCROLL TOP-->


</div>
<!-- END PAGE WRAPPER  -->
