<!-- Collection banner -->
    <section class="section collection-banners py-5 pb-0">
        <div class="container-fluid px-0">
            <div class="section-header ms-3 mb-0 text-uppercase">
              <h2>Colecciones</h2>
            </div>                      
            <div class="collection-banner-grid">
                <div class="row sp-row">
                  <!-- Iterar sobre las categorías -->
                  <ng-container *ngFor="let cat of categories; let i = index">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 collection-banner-item p-0">
                      <div class="collection-item sp-col">
                        <a [routerLink]="['/', locale, country, 'shop', 'filter-products', cat.slug, cat._id]" class="zoom-scal">
                          <div class="img">
                            <img 
                              class="blur-up lazyload"
                              [attr.data-src]="cat.imagen_home"
                              [src]="cat.imagen_home"
                              [alt]="cat.title"
                              [title]="cat.title"
                              width="645"
                              height="723"
                            >
                          </div>

                          <!-- Texto dinámico (puedes ajustar estilos según tu diseño) -->
                          <div class="details" [ngClass]="{
                                'middle-right': i % 2 === 0,
                                'middle-left': i % 2 !== 0
                              }">
                            <div class="inner text-start text-uppercase">
                              <h3 class="title text-white">{{ cat.title }}</h3>
                              <!-- <a [routerLink]="['/', locale, country, 'shop', 'filter-products', cat.slug, cat._id]" class="text-decoration-underline text-white title"><span class="">Ver todo</span></a> -->
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </ng-container>
                 </div>
            </div>
        </div>
    </section>
    <!-- End Collection banner -->