<!-- Collection banner -->
    <section class="section collection-banners pb-0">
        <div class="container px-0">
            <div class="section-header ms-3 mb-0">
              <h2>Colecciones</h2>
            </div>                      
            <div class="collection-banner-grid">
                <div class="row sp-row">
                  <!-- Iterar sobre las categorías -->
                  <ng-container *ngFor="let cat of categories; let i = index">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 collection-banner-item">
                      <div class="collection-item sp-col">
                        <a [routerLink]="['/', locale, country, 'shop', 'filter-products', cat.slug, cat._id]" class="zoom-scal">
                          <div class="img">
                            <img 
                              class="blur-up lazyload"
                              [attr.data-src]="cat.imagen_home"
                              [src]="cat.imagen_home"
                              [alt]="cat.title"
                              [title]="cat.title"
                              width="645"
                              height="723"
                            >
                          </div>

                          <!-- Texto dinámico (puedes ajustar estilos según tu diseño) -->
                          <div class="details" 
                              [ngClass]="{
                                'middle-right': i % 2 === 0,
                                'middle-left': i % 2 !== 0
                              }">
                            <div class="inner text-center text-lg-start">
                              
                              <h3 class="title text-white">{{ cat.title }}</h3>
                              <p class="mb-2">
                                {{ cat.subtitle || 'Descubre más' }}
                              </p>
                              <span class="btn btn-outline-dark btn-md">Shop Now</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </ng-container>
                 </div>
            </div>
        </div>
    </section>
    <!-- End Collection banner -->