<div [ngClass]="{'tab-pane': true, 'active': !CURRENT_USER_AUTHENTICATED, 'fade': CURRENT_USER_AUTHENTICATED}" id="steps1">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 mb-md-0 border border-primary d-none">
            <div class="block h-100">
                <div class="block-content">
                    <h3 class="title">Continuar como invitado/a</h3>
                    <p class="text-gray">Registrate con nosotros para futura conveniencia:</p>
                    <ul class="list-unstyled radio-group mb-4">
                        <li>
                            <div class="checkout customRadio">
                                <input type="radio" id="option-1" name="selector" checked="" />
                                <label for="option-1"> Pagar como invitado</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkout customRadio">
                                <input type="radio" id="option-2" name="selector" />
                                <label for="option-2"> Registro</label>
                            </div>
                        </li>
                    </ul>

                    <h3 class="title">Regístrate y ahorra tiempo !</h3>
                    <p class="text-gray">Registrate con nosotras para futura conveniencia:</p>
                    <ul class="lists-style1 text-gray mb-3">
                        <li>Pago rápido y sencillo</li>
                        <li>Fácil acceso a su historial y estado de pedidos</li>
                    </ul>
                    <button type="submit" name="Continue" class="btn btn-primary w-100">Continuar pedido</button>
                    <!-- <button type="submit" name="Continue" class="btn btn-secondary ms-2 btnNext">Próxima dirección</button> -->
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 mb-md-0 d-none">
            <div class="block h-100">
                <div class="block-content">
                    <form method="post" action="#" class="login-form">	
                        <h2 class="title text-uppercase fs-22">Continuar como invitado/a</h2>
                        <p class="text-black lh-sm">Completa tu pedido sin crear una cuenta. Podrás guardar tus datos en el siguiente paso y ahorrar tiempo en próximas compras.</p>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label for="CustomerEmail" class="form-label">E-mail <span class="required">*</span></label>
                                <input type="email" name="customer[email]" [(ngModel)]="email_identify" placeholder="E-mail" id="CustomerEmail" autofocus="" class="form-control py-4">
                            </div>
                            <div class="col-12 form-group">
                                <p class="title" style="font-weight: 500; font-size: 12px;">PROMOCIONES Y NOVEDADES</p>
                                <div class="remember-me customCheckbox">
                                    <input id="remember" name="remember" type="checkbox" value="remember me" required />
                                    <label for="remember lh-sm"> Quiero recibir promociones exclusivas, novedades y contenidos personalizados.</label>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-between align-items-center mt-3">
                                <input type="submit" class="btn py-3 text-uppercase fw-normal w-100" value="Continuar sesión" (click)="verifyExistEmail(email_identify)">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-5">
            <div class="block h-100">
                <div class="block-content">
                    <form method="post" action="#" class="login-form">	
                        <h2 class="title text-uppercase fs-26">Inicia sesión</h2>
                        <p class="text-black d-none">Haz tu pedido en menos pasos con tu cuenta</p>
                        <div class="row mb-4">
                            <div class="col-12 form-group">
                                <label for="CustomerEmail" class="form-label">E-mail <span class="required">*</span></label>
                                <input type="email" name="customer[email]" [(ngModel)]="email_identify" placeholder="E-mail" id="CustomerEmail" autofocus="" class="form-control py-4">
                            </div>
                            <div class="form-group col-12">
                                <label for="CustomerPassword" class="">Contraseña <span class="required">*</span></label>
                                <div class="d-flex" style="border: 1px solid #171717;">
                                    <input 
                                        [type]="isPasswordVisible ? 'text' : 'password'" 
                                        name="password" 
                                        [(ngModel)]="password_identify" 
                                        placeholder="Introduzca su contraseña" 
                                        id="CustomerPassword" 
                                        required
                                        class="border-0 py-4"
                                    />
                                    <button aria-live="polite" class="border-0 text-uppercase fw-normal"  type="button" (click)="togglePasswordVisibility()">
                                        <!-- SVG de 'Mostrar' -->
                                        <svg *ngIf="!isPasswordVisible" width="24" height="24" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M12 6.266c-5.24 0-8.653 5.242-8.796 5.464l-.173.27.173.27c.143.222 3.557 5.464 8.796 5.464s8.653-5.242 8.796-5.464l.173-.27-.173-.27c-.143-.222-3.557-5.464-8.796-5.464m0 10.468c-4.046 0-7.01-3.693-7.766-4.734.755-1.041 3.72-4.734 7.766-4.734s7.01 3.693 7.766 4.734c-.755 1.041-3.72 4.734-7.766 4.734M12 9c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3m0 5c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2"></path>
                                        </svg>
                                        <!-- SVG de 'Ocultar' -->
                                        <svg *ngIf="isPasswordVisible" width="24" height="24" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="m16.878 7.83 3.976-3.976-.708-.708-4.16 4.161C14.825 6.696 13.489 6.266 12 6.266c-5.24 0-8.653 5.242-8.796 5.464l-.173.27.173.27c.091.142 1.527 2.336 3.918 3.9l-3.976 3.976.708.708 4.16-4.161c1.161.611 2.497 1.041 3.986 1.041 5.24 0 8.653-5.242 8.796-5.464l.173-.27-.173-.27c-.091-.142-1.527-2.336-3.918-3.9M4.234 12C4.99 10.959 7.954 7.266 12 7.266c1.181 0 2.267.32 3.236.791L13.733 9.56A3 3 0 0 0 12 9c-1.654 0-3 1.346-3 3 0 .647.21 1.243.56 1.733l-1.706 1.706c-1.862-1.17-3.157-2.801-3.62-3.439M14 12c0 1.103-.897 2-2 2-.37 0-.712-.108-1.01-.284l2.726-2.725c.176.297.284.64.284 1.009m-4 0c0-1.103.897-2 2-2 .37 0 .712.108 1.01.284l-2.726 2.725A2 2 0 0 1 10 12m2 4.734c-1.181 0-2.267-.32-3.236-.791l1.503-1.503c.49.35 1.086.56 1.733.56 1.654 0 3-1.346 3-3a2.97 2.97 0 0 0-.56-1.733l1.706-1.706c1.862 1.17 3.157 2.801 3.62 3.439-.755 1.041-3.72 4.734-7.766 4.734"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="remember-me customCheckbox">
                                    <input id="remember" name="remember" type="checkbox" value="remember me" class="" required />
                                    <label for="remember text-black fw-normal"> Mantener la sesión iniciada</label>
                                </div>
                            </div>
                            <div class="form-group col-12 mt-3" *ngIf="this.errorAutenticate">
                                <p class="text-danger">{{ this.errorMessageAutenticate }}</p>
                            </div>
                            <div class="form-group col-12 mt-3 mb-3">
                                <button type="submit" class="btn-dark-ld text-uppercase" (click)="login()" [disabled]="loading">
                                    <ng-container *ngIf="!loading">Iniciar sesión</ng-container>
                                    <ng-container *ngIf="loading">
                                        <!-- <div class="sp sp-bars bg-light" style="width: 7px !important; height: 21px !important; margin: 0px auto !important;"></div> -->
                                        <div class="sp sp-bars bg-light"></div>
                                  </ng-container>
                                </button>
                            </div>
                            <a href="#" onclick="return false;" [routerLink]="['/', this.locale, this.country, 'auth', 'resetpassword']" class="btn-link p-3 text-center fw-light text-uppercase text-decoration-underline">¿Has olvidado tu contraseña?</a>
                        </div>


                        <div class="row mb-4">
                            <div class="col-12 form-group">
                                <h2 class="fw-bold text-uppercase fs-26 mb-2">Crea tu cuenta</h2>
                            </div>
                            <ul class="Benefits_benefits__kDX0o">
                                <li class="Benefits_benefit__VNfg7">
                                    <svg width="16" height="16" aria-hidden="true" class="Icon_icon-content-1__kPDLF Benefits_icon__UCCFg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><path d="m9 19.707-5.854-5.853.708-.708L9 18.293 20.146 7.146l.708.708z"></path>
                                    </svg>Guarda tus datos para una experiencia de compra más cómoda
                                </li>
                                <li class="Benefits_benefit__VNfg7">
                                    <svg width="16" height="16" aria-hidden="true" class="Icon_icon-content-1__kPDLF Benefits_icon__UCCFg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><path d="m9 19.707-5.854-5.853.708-.708L9 18.293 20.146 7.146l.708.708z"></path>
                                    </svg>Localiza y gestiona tu pedido más fácil
                                </li>
                                <li class="Benefits_benefit__VNfg7 d-none">
                                    <svg width="16" height="16" aria-hidden="true" class="Icon_icon-content-1__kPDLF Benefits_icon__UCCFg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24"><path d="m9 19.707-5.854-5.853.708-.708L9 18.293 20.146 7.146l.708.708z"></path>
                                    </svg>Accede a las ventajas y experiencias del Club LujanDev likes you
                                </li>
                            </ul>
                            <div class="form-group col-12 ">
                                <a href="register.html" onclick="return false;" [routerLink]="['/', locale, country, 'auth', 'register']" class="btn-link">
                                    <!-- <input type="submit" class="btn btn-outline-secondary btn-lg py-3 w-100 text-uppercase fw-normal" value="Crear cuenta" /> -->
                                    <button type="submit" class="btn-outline-white-ld text-uppercase">Crear cuenta</button>
                                </a>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <!-- <a href="#" onclick="return false;" [routerLink]="['/', this.locale, this.country, 'account', 'checkout', 'resumen']" class="btn-link p-3 text-center fw-bold text-decoration-underline">Continuar sin cuenta</a> -->
                            <!-- <a [routerLink]="['/', locale, country, 'account', 'checkout', 'resumen']" [queryParams]="{ initialized: true, from: 'step2' }" class="btn-link p-3 text-center fw-bold text-decoration-underline" (click)="enterAsGuest()" >Continuar sin cuenta</a> -->
                            <a href="#" onclick="return false;" class="btn-link p-3 text-center fw-light text-uppercase text-decoration-underline" (click)="enterAsGuest()" >Continuar sin cuenta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>