<!-- Storytelling / Brand Message -->
<div class="page-header bg-black">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center"
      >
        <div class="page-title text-center">
          <h2 class="fw-bold text-white">
            En LujanDev creemos que programar es más que código
          </h2>
          <p class="lead text-white">
            Es cultura, estilo y actitud. Nuestras camisetas están hechas
            para developers que quieren vestir su pasión con elegancia.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Storytelling / Brand Message -->