<!--Page Wrapper-->
<div class="page-wrapper">
    <!-- Loading -->
    <div *ngIf="!loading" class="loading-spinner border d-flex vh-100 justify-content-center align-items-center">
        <div class="row">
            <div class="col col-12 col-lg-12 col-sm-2">
                <!-- <div class="sp sp-bars"></div> -->
                <img src="assets/images/logo/lujandev_loader.gif" alt="Cargando Luján" class="logo-loader" />
            </div>
        </div>
    </div>
    <!-- End Loading -->

    <!-- Body Container -->
    <div id="page-content" [class.d-none]="!loading">
        <!--Page Header-->
        <div class="page-header mb-0 py-4 bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center">
                        <!-- <a class="logoImg" href="#" onclick="return false;" [routerLink]="['/', this.country, this.locale, 'shop', 'cart']"> -->
                        <a class="logoImg" (click)="navigateToCart()">
                            <img src="assets/images/logo.png" alt="Hema Multipurpose Html Template" title="Hema Multipurpose Html Template" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Page Header-->

        <!--Main Content-->
        <div class="container">     
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">  
                    <!--Nav step checkout-->
                    <ng-container *ngIf="isCheckoutNavVisible">
                        <div id="nav-tabs" class="step-checkout main-vertical-component clearfix">
                        <div class="row-fluid stepsCheckout">
                            <div class="span12" role="navigation">
                            <div class="row-fluid labelSteps" role="list">
                                <div class="span3 margin" [ngClass]="{'medium': currentStep === 'login'}" role="listitem">
                                Identifícate
                                </div>
                                <div class="span3 margin" [ngClass]="{'medium': currentStep === 'resumen'}" role="listitem">
                                Envío
                                </div>
                                <div class="span3 margin" [ngClass]="{'medium': currentStep === 'payment'}" role="listitem">
                                Pago
                                </div>
                                <div class="span3 margin" [ngClass]="{'medium': currentStep === 'successfull'}" role="listitem">
                                Confirmación
                                </div>
                            </div>
                            </div>
                    
                            <div class="span12" aria-hidden="true">
                            <div class="row-fluid bolasSteps">
                                <div class="span3" [ngClass]="{'medium1': currentStep === 'login'}">
                                <div class="flechaSteps"></div>
                                </div> 
                                <div class="span3" [ngClass]="{'medium2': currentStep === 'resumen'}">
                                <div class="flechaSteps"></div>
                                </div>
                                <div class="span3" [ngClass]="{'medium3': currentStep === 'payment'}">
                                <div class="flechaSteps"></div>
                                </div>
                                <div class="span3" [ngClass]="{'medium4': currentStep === 'successfull'}">
                                <div class="flechaSteps"></div>
                                </div>
                            </div>
                            </div>
                    
                        </div>
                        </div>
                    </ng-container>
                    <!--End Nav step checkout-->
  
                    
                    <!--Tab checkout content-->
                    <div class="tab-content checkout-form">
                        <router-outlet></router-outlet> 
                        <!-- <router-outlet (activate)="onActivate($event)"></router-outlet> -->
                    </div>
                    <!--End Tab checkout content-->
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!-- End Body Container -->

    <!--Scoll Top-->
    <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
    <!--End Scoll Top-->

</div>
<!--End Page Wrapper-->