<!--Page Wrapper-->
<div class="page-wrapper">
    <!--Marquee Text-->
    <div class="topbar-slider clearfix">
        <div class="container-fluid">
            <div class="marquee-text">
                <div class="top-info-bar d-flex">
                    <div class="flex-item center">
                        <a href="#">
                            <span> <i class="anm anm-worldwide"></i> BUY ONLINE PICK UP IN STORE</span>
                            <span> <i class="anm anm-truck-l"></i> FREE WORLDWIDE SHIPPING ON ALL ORDERS ABOVE $100</span>
                            <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                        </a>
                    </div>
                    <div class="flex-item center">
                        <a href="#">
                            <span> <i class="anm anm-worldwide"></i> BUY ONLINE PICK UP IN STORE</span>
                            <span> <i class="anm anm-truck-l"></i> FREE WORLDWIDE SHIPPING ON ALL ORDERS ABOVE $100</span>
                            <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                        </a>
                    </div>
                    <div class="flex-item center">
                        <a href="#">
                            <span> <i class="anm anm-worldwide"></i> BUY ONLINE PICK UP IN STORE</span>
                            <span> <i class="anm anm-truck-l"></i> FREE WORLDWIDE SHIPPING ON ALL ORDERS ABOVE $100</span>
                            <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Marquee Text-->

    <!-- Loading -->
    <div *ngIf="loading" class="loading-spinner border d-flex vh-100 justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm-2">
                <div class="sp sp-bars"></div>
            </div>
        </div>
    </div>
    <!-- End Loading -->

    <!-- Body Container -->
    <div id="page-content">
        <!--Page Header-->
        <div class="page-header mb-0 py-4 bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center">
                        <!-- <div class="page-title text-uppercase"><h1>Finalizar compra</h1></div> -->
                        <!--Breadcrumbs-->
                        <!-- <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Lujandev.com</a><span class="main-title"><i class="icon anm anm-angle-right-l"></i>Finalizar compra</span></div> -->
                        <!--End Breadcrumbs-->

                        <a class="logoImg" [href]="['/']" >
                            <img src="assets/images/logo.png" alt="Hema Multipurpose Html Template" (click)="navigateToHome()" title="Hema Multipurpose Html Template" width="100" height="100" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Page Header-->

        <!--Main Content-->
        <div class="container">     
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">  
                    <!--Nav step checkout-->
                    <div id="nav-tabs" class="step-checkout main-vertical-component clearfix">
                        <div class="row-fluid stepsCheckout">
                            <div class="span12" role="navigation">
                                <div class="row-fluid labelSteps" role="list">
                                    <div class="span3 margin" [ngClass]="{'medium': !CURRENT_USER_AUTHENTICATED, '':  isLastStepActive_1}" role="listitem" aria-current="step">
                                        Identifícate
                                    </div>
                                    <div class="span3 margin" [ngClass]="{'medium': !isLastStepActive_2 && CURRENT_USER_AUTHENTICATED && listAddressClients.length > 0, '':  isLastStepActive_2}" role="listitem" aria-current="step">
                                        Pedido de envío
                                    </div>
                                    <div class="span3 margin" [ngClass]="{'medium': isLastStepActive_3 && CURRENT_USER_AUTHENTICATED && listAddressClients.length > 0,  '':  !isLastStepActive_3}" role="listitem" aria-current="true">
                                        Métodos de pago
                                    </div>
                                    <div class="span3 margin" [ngClass]="{'medium': isLastStepActive_4 && CURRENT_USER_AUTHENTICATED && listAddressClients.length > 0, '': !isLastStepActive_4}" role="listitem" aria-current="step">
                                        Confirmación
                                    </div>
                                </div>
                            </div>
                            <div class="span12" aria-hidden="true">
                                <div class="row-fluid bolasSteps">
                                    <div class="span3" [ngClass]="{'medium1': !CURRENT_USER_AUTHENTICATED,  '':  isLastStepActive_1}">
                                        <div class="flechaSteps"></div>
                                    </div>
                                    <div class="span3" [ngClass]="{'medium2': !isLastStepActive_2 && CURRENT_USER_AUTHENTICATED && listAddressClients.length > 0,  '':  isLastStepActive_2}">
                                        <div class="flechaSteps"></div>
                                    </div>
                                    <div class="span3" [ngClass]="{ 'medium3': isLastStepActive_3 && CURRENT_USER_AUTHENTICATED && listAddressClients.length > 0,  '':  !isLastStepActive_3}">
                                        <div class="flechaSteps"></div>
                                    </div>
                                    <div class="span3" [ngClass]="{ 'medium4': isLastStepActive_4 && CURRENT_USER_AUTHENTICATED && listAddressClients.length > 0 && isSaleSuccess,  '':  !isLastStepActive_4 && !isSaleSuccess}">
                                        <div class="flechaSteps"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Nav step checkout-->
                    
                    <!--Tab checkout content-->
                    <div class="tab-content checkout-form">
                        <router-outlet></router-outlet>
                    </div>
                    <!--End Tab checkout content-->
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!-- End Body Container -->

    <!--Scoll Top-->
    <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
    <!--End Scoll Top-->

</div>
<!--End Page Wrapper-->