/* Estilos para indicadores de pasos */
.labelSteps [role="listitem"] {
  color: #6c757d; /* gray */
  font-weight: normal;
}
.labelSteps .medium {
  color: #343a40; /* dark */
  font-weight: bold;
}

/* Pasos de pago y confirmación con fondo blanco cuando están activos */
.row.bolasSteps .col-4.medium2.active .flechaSteps,
.row.bolasSteps .col-4.medium3.active .flechaSteps {
  background-color: #fff !important;
  border-radius: 50%;
}