<!--Toolbar-->
<!-- <div class="toolbar toolbar-wrapper shop-toolbar" [ngClass]="{ 'px-4': isDesktop, 'px-2': isMobile  }">
	<div class="row align-items-center">
		<div class="col-4 col-sm-2 col-md-4 col-lg-4 text-left filters-toolbar-item d-flex order-1 order-sm-0 w-100 justify-content-between">
			<button
				type="button"
				class="btn-dark-ld text-uppercase"
				[ngClass]="{ 'w-100': isMobile, 'w-25': isDesktop, 'mb-3': isMobile }"
				(click)="openSidebar.emit()">Filtrar
			</button>

			<div class="filters-item d-flex align-items-center justify-content-center">
				<div class="grid-options view-mode d-flex">
					<a class="icon-mode mode-list d-block" data-col="1"></a>
					<a class="icon-mode mode-grid grid-2 d-block" data-col="2"></a>
					<a class="icon-mode mode-grid grid-3 d-md-block" data-col="3"></a>
					<a class="icon-mode mode-grid grid-4 d-lg-block" data-col="4"></a>
					<a class="icon-mode mode-grid grid-5 d-xl-block" data-col="5"></a>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center product-count order-0 order-md-1 mb-3 mb-sm-0">
			<span class="toolbar-product-count">Demostración: {{ products.length }} productos</span>
		</div>
		<ng-container *ngIf="products.length > 10">
			<div class="col-8 col-sm-6 col-md-4 col-lg-4 text-right filters-toolbar-item d-flex justify-content-end order-2 order-sm-2">
				<div class="filters-item d-flex align-items-center">
					<label for="ShowBy" class="mb-0 me-2 text-nowrap d-none d-sm-inline-flex">Mostrar:</label>
					<select name="ShowBy" id="ShowBy" class="filters-toolbar-show">
						<option value="title-ascending" selected="selected">10</option>
						<option>15</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
					</select>
				</div>
				<div class="filters-item d-flex align-items-center ms-2 ms-lg-3">
					<label for="SortBy" class="mb-0 me-2 text-nowrap">Ordenar por:</label>
					<select name="SortBy" id="SortBy" class="filters-toolbar-sort">
						<option value="featured" selected="selected">Featured</option>
						<option value="best-selling">Best selling</option>
						<option value="title-ascending">Alphabetically, A-Z</option>
						<option value="title-descending">Alphabetically, Z-A</option>
						<option value="price-ascending">Price, low to high</option>
						<option value="price-descending">Price, high to low</option>
						<option value="created-ascending">Date, old to new</option>
						<option value="created-descending">Date, new to old</option>
					</select>
				</div>
			</div>
		</ng-container>
	</div>
</div> -->
<!--End Toolbar-->


<!--Toolbar-->
<div class="toolbar toolbar-wrapper shop-toolbar" [ngClass]="{ 'px-4': isDesktop, 'px-2': isMobile  }">
	<!-- <div class="row align-items-center"> -->
		<div class="d-flex justify-content-between align-items-center text-left filters-toolbar-item">
			<!-- <button
				type="button"
				class="btn-dark-ld text-uppercase"
				[ngClass]="{ 'w-100': isMobile, 'w-25': isDesktop, 'mb-3': isMobile }"
				(click)="openSidebar.emit()">Filtrar
			</button> -->
			<a href="#" class="text-decoration-underline text-uppercase fw-light" onclick="return false;"(click)="openSidebar.emit()">Filtrar</a>
			<div>
				<span class="toolbar-product-count text-uppercase fw-light">{{ products.length }} productos</span>
			</div>

			<div class="filters-item d-flex align-items-center ms-2 ms-lg-3" [ngClass]="{'d-none': isMobile}">
				<label for="SortBy" class="mb-0 me-2 text-nowrap text-uppercase fw-light">Ordenar por:</label>
				<select name="SortBy" id="SortBy" class="filters-toolbar-sort rounded border border-muted fw-light">
					<option value="featured" selected="selected">Los más vendidos</option>
					<option value="title-ascending">Alfabéticamente, A-Z</option>
					<option value="title-descending">Alfabéticamente, Z-A</option>
					<option value="price-ascending">Precio, de menor a mayor</option>
					<option value="price-descending">Precio, de mayor a menor</option>
					<option value="created-ascending">Fecha, de antigua a nueva</option>
					<option value="created-descending">Fecha, de nueva a antigua</option>
				</select>
			</div>

			<div class="filters-item d-flex align-items-center justify-content-center">
				<div class="grid-options view-mode d-flex">
					<a class="icon-mode mode-list d-block" data-col="1"></a>
					<a class="icon-mode mode-grid grid-2 d-block" data-col="2"></a>
					<a class="icon-mode mode-grid grid-3 d-md-block" data-col="3"></a>
					<a class="icon-mode mode-grid grid-4 d-lg-block" data-col="4"></a>
					<a class="icon-mode mode-grid grid-5 d-xl-block" data-col="5"></a>
				</div>
			</div> 
		</div>
		<div class="col-4 col-sm-4 col-md-4 col-lg-3 text-center product-count order-0 order-md-1 mb-sm-0 d-none">
			<span class="toolbar-product-count">{{ products.length }} productos</span>
		</div>
		<div class="col-4 col-sm-4 col-md-4 col-lg-3 text-center product-count order-0 order-md-1 mb-sm-0 d-none">
			<div class="filters-item d-flex align-items-center ms-2 ms-lg-3">
				<label for="SortBy" class="mb-0 me-2 text-nowrap">Ordenar por:</label>
				<select name="SortBy" id="SortBy" class="filters-toolbar-sort">
					<option value="featured" selected="selected">Featured</option>
					<option value="best-selling">Best selling</option>
					<option value="title-ascending">Alphabetically, A-Z</option>
					<option value="title-descending">Alphabetically, Z-A</option>
					<option value="price-ascending">Price, low to high</option>
					<option value="price-descending">Price, high to low</option>
					<option value="created-ascending">Date, old to new</option>
					<option value="created-descending">Date, new to old</option>
				</select>
			</div>
		</div>
		<ng-container *ngIf="products.length > 10">
			
			<div class="col-4 col-sm-6 col-md-4 col-lg-3 text-right filters-toolbar-item d-flex justify-content-end order-2 order-sm-2 d-none">
				
				<div class="filters-item d-flex align-items-center justify-content-center">
					<div class="grid-options view-mode d-flex">
						<a class="icon-mode mode-list d-block" data-col="1"></a>
						<a class="icon-mode mode-grid grid-2 d-block" data-col="2"></a>
						<a class="icon-mode mode-grid grid-3 d-md-block" data-col="3"></a>
						<a class="icon-mode mode-grid grid-4 d-lg-block" data-col="4"></a>
						<a class="icon-mode mode-grid grid-5 d-xl-block" data-col="5"></a>
					</div>
				</div>

				<div class="filters-item d-flex align-items-center d-none">
					<label for="ShowBy" class="mb-0 me-2 text-nowrap d-none d-sm-inline-flex">Mostrar:</label>
					<select name="ShowBy" id="ShowBy" class="filters-toolbar-show">
						<option value="title-ascending" selected="selected">10</option>
						<option>15</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
					</select>
				</div>
				
			</div>
		</ng-container>
	<!-- </div> -->
</div>
<!--End Toolbar-->
