<div class="axil-signin-area">

    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-sm-4">
                <a href="index.html" class="site-logo"><img src="./assets/images/logo/logo.png" alt="logo"></a>
                <!-- <a href="index.html" class="site-logo"><img src="./assets/images/onboarding/imglogin.jpg" alt="logo"></a> -->
            </div>
            <div class="col-sm-8">
                <div class="singin-header-btn">
                    <p class="d-none">{{ 'auth_profile.forgot_password.button_back' | translate }}</p>
                    <a [routerLink]="['/auth/login']" class="axil-btn btn-bg-secondary sign-up-btn"><i class="fa fa-chevron-left"></i> {{ 'auth_profile.forgot_password.button_back' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

   
    <div class="row">
        <div class="col-xl-7 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--11">
                <h3 class="title d-none">We Offer the Best Products</h3>
            </div>
        </div>
        <!-- <div class="col-lg-6 offset-xl-2"> -->
        <div class="col-xl-5 col-lg-6">
            <div class="axil-signin-form-wrap justify-content-center">
                
                <div class="axil-signin-form">
                    <h3 class="title">{{ 'auth_profile.forgot_password.title' | translate }}</h3>
                    <p class="b2 mb--35 text-gray">{{ 'auth_profile.forgot_password.subtitle' | translate }}</p>
                    <form class="singin-form">
                        <div class="form-group">
                            <label>{{ 'auth_profile.forgot_password.email' | translate }}</label>
                            <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between">
                            <button type="submit" class="axil-btn btn-bg-primary" (click)="login()">{{ 'auth_profile.forgot_password.button_send' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>