<!--Footer-->
<div class="footer">
    <div class="newsletterbg clearfix">
        <div class="container">
            <form action="#" method="post" class="footer-newsletter">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3 mb-md-0">
                        <label class="h3 mb-1 clr-none">Suscríbete a nuestra Newsletter y obtén un 10% de descuento</label>
                        <p>Regístrate para estar al tanto. Recibe actualizaciones, acceso a ofertas exclusivas y más.</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="input-group">
                            <input type="email" class="form-control input-group-field newsletter-input" name="email" value="" placeholder="Introduzca su dirección de correo electrónico" required />
                            <button type="submit" class="input-group-btn btn btn-secondary newsletter-submit" name="commit">Suscribir</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4">Información</h4>
                    <ul>
                        <li><a href="my-account.html" onclick="return false;">Explorar</a></li>
                        <li><a href="aboutus-style1.html" onclick="return false;">Mi cuenta</a></li>
                        <li><a href="#" onclick="return false;">Política de privacidad</a></li>
                        <li><a href="#" onclick="return false;">Términos y condiciones</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4">Compra rápida</h4>
                    <ul>
                        <li><a href="#">Camisetas</a></li>
                        <li><a href="#">Sudaderas</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4">Servicios al cliente</h4>
                    <ul>
                        <li class="d-none"><a href="#" onclick="return false;">Request Personal Data</a></li>
                        <li><a href="faqs-style1.html" onclick="return false;">Preguntas frecuentes</a></li>
                        <li><a href="contact-style1.html" onclick="return false;">Contacta con nosotros</a></li>
                        <li><a href="#" onclick="return false;">Pedidos y devoluciones</a></li>
                        <li><a href="#" onclick="return false;">Centro de soporte</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-contact">
                    <h4 class="h4">Contacta con nosotros</h4>
                    <p class="address d-flex"><i class="icon anm anm-map-marker-al pt-1"></i> Paseo de la chopera, 28100, Madrid</p>
                    <p class="phone d-flex align-items-center"><i class="icon anm anm-phone-l"></i>  <b class="me-1 d-none">Phone:</b> <a href="tel:401234567890">(+34) 605 97 44 36</a></p>
                    <p class="email d-flex align-items-center"><i class="icon anm anm-envelope-l"></i> <b class="me-1 d-none">Email:</b> <a href="lujandev@lujandev.com">lujandev@lujandev.com</a></p>
                    <ul class="list-inline social-icons mt-3">
                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Linkedin"><i class="icon anm anm-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><i class="icon anm anm-youtube"></i></a></li>
                    </ul>
                </div>
            </div>               
        </div>
    </div>
    <div class="footer-bottom clearfix">
        <div class="container">
            <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
                <ul class="payment-icons d-flex-center mb-2 mb-md-0">
                    <li><i class="icon anm anm-cc-visa"></i></li>
                    <li><i class="icon anm anm-cc-mastercard"></i></li>
                    <li><i class="icon anm anm-cc-amex"></i></li>
                    <li><i class="icon anm anm-cc-paypal"></i></li>
                    <li><i class="icon anm anm-cc-discover"></i></li>
                    <li><i class="icon anm anm-cc-stripe"></i></li>
                    <li><i class="icon anm anm-cc-jcb"></i></li>
                </ul>
                <div class="copytext">&copy; 2024 Lujandev. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</div>
<!--End Footer-->