.FullFooter_footer__S2GEp {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    padding: 0 16px;
}

.ChangeCountryLanguage_button__CBDJ7 {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
}

.FullFooter_socialLink__vnD9X a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.75rem;
    height: 2.75rem;
    line-height: 0;
    text-decoration: none;
}





.Icon_icon-content-1__kPDLF {
    fill: #131313;
}

@media (min-width: 1024px) {
    .ChangeCountryLanguage_countryName__y6Wo_ {
        font-size: .8125rem;
        line-height: 1.25rem;
    }
}
.ChangeCountryLanguage_countryName__y6Wo_ {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.375rem;
    font-family: var(--mango-primary-font);
    letter-spacing: .01875rem;
}

@media (min-width: 600px) {
    .Modal_modalTypeL__4WQ_H, .Modal_modalTypeM__aF5Yt, .Modal_modalTypeXL__8WvVc {
        padding: 0 24px;
    }
}

.Modal_modalTypeM__aF5Yt {
    max-width: 29rem;
}
.Modal_modalTypeL__4WQ_H, .Modal_modalTypeM__aF5Yt, .Modal_modalTypeS__YupgK, .Modal_modalTypeXL__8WvVc {
    margin: auto;
    max-height: calc(100dvh - 48px);
    inset: 24px;
}
@media (min-width: 600px) {
    .Modal_dialog__lnfgO {
        inset: 48px;
        max-height: calc(100dvh - 96px);
    }
}
.Modal_dialog__lnfgO {
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    text-align: start;
    border: none;
    background-color: #fff;
    padding: 0 16px;
    max-height: calc(100dvh - 48px);
    overscroll-behavior-y: contain;
    overflow: hidden auto;
    box-sizing: border-box;
}

.FullFooter_navigation__FuY0X {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 24px;
    margin: 32px auto;
    padding: 0;
    max-width: 32rem;
    list-style: none;
}


@media screen and (min-width: 1024px) {
    .FullFooter_social__4C3GN {
        max-width: 32rem;
    }
}
.FullFooter_social__4C3GN {
    margin: 0 auto 48px;
    padding: 0;
    flex-wrap: wrap;
}
.FullFooter_navLink__YYDuA, .FullFooter_social__4C3GN {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.LegalInfo_legal__OS1MM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.LegalInfo_legalInfo__mUq62 {
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.LegalInfo_contactInfo__U6NSH, .LegalInfo_legalInfo__mUq62 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.LegalInfo_reservedRights__tkBya {
    margin: 0;
    text-align: center;
}

@media (min-width: 1024px) {
    .LegalInfo_legalButton__VasD0, .LegalInfo_legalLink__ovs6e, .LegalInfo_reservedRights__tkBya {
        font-size: .6875rem;
        line-height: 1rem;
    }
}
.LegalInfo_legalButton__VasD0, .LegalInfo_legalLink__ovs6e, .LegalInfo_reservedRights__tkBya {
    font-weight: 300;
    font-size: .75rem;
    line-height: 1.125rem;
    font-family: var(--mango-primary-font);
    letter-spacing: .01875rem;
}

.LegalInfo_legalLinks__UhFI1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.LegalInfo_legalButton__VasD0, .LegalInfo_legalLink__ovs6e {
    cursor: pointer;
    padding: .7rem .5rem;
    min-width: 2.75rem;
    min-height: 2.75rem;
    color: #131313;
}

.LegalInfo_legalLink__ovs6e {
    text-decoration: none;
}
@media (min-width: 1024px) {
    .LegalInfo_legalButton__VasD0, .LegalInfo_legalLink__ovs6e, .LegalInfo_reservedRights__tkBya {
        font-size: .6875rem;
        line-height: 1rem;
    }
}
.LegalInfo_legalButton__VasD0, .LegalInfo_legalLink__ovs6e, .LegalInfo_reservedRights__tkBya {
    font-weight: 300;
    font-size: .75rem;
    line-height: 1.125rem;
    font-family: var(--mango-primary-font);
    letter-spacing: .01875rem;
}

.LegalInfo_separation__i26iI:after {
    display: block;
    padding: .7rem 0;
    content: "|";
}

@media (min-width: 600px) {
    .Modal_modalTypeL__4WQ_H, .Modal_modalTypeM__aF5Yt, .Modal_modalTypeXL__8WvVc {
        padding: 0 24px;
    }
}

.Modal_modalTypeM__aF5Yt {
    max-width: 29rem;
}
.Modal_modalTypeL__4WQ_H, .Modal_modalTypeM__aF5Yt, .Modal_modalTypeS__YupgK, .Modal_modalTypeXL__8WvVc {
    margin: auto;
    max-height: calc(100dvh - 48px);
    inset: 24px;
}
@media (min-width: 600px) {
    .Modal_dialog__lnfgO {
        inset: 48px;
        max-height: calc(100dvh - 96px);
    }
}
.Modal_dialog__lnfgO {
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    text-align: start;
    border: none;
    background-color: #fff;
    padding: 0 16px;
    max-height: calc(100dvh - 48px);
    overscroll-behavior-y: contain;
    overflow: hidden auto;
    box-sizing: border-box;
}

.StoreLocatorButton_storeLocatorButton__uON_V {
    background: transparent;
    border: none;
    padding: 2px 0;
    cursor: pointer;
}
@media (min-width: 1024px) {
    .texts_bodyMRegular__j0yfK {
        font-size: .8125rem;
        line-height: 1.25rem;
    }
}
.texts_bodyMRegular__j0yfK {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.375rem;
    font-family: var(--mango-primary-font);
    letter-spacing: .01875rem;
}


@media (min-width: 1024px) {
    .ChangeCountryLanguage_button__CBDJ7 {
        font-size: .8125rem;
        line-height: 1.25rem;
    }
}